/***
 * CSS Props
 *
 */

:root {
    --font-stack-serif:#{inspect($font-stack-serif)};
    --font-stack-sansserif:#{inspect($font-stack-sansserif)};
    --font-stack-general:var(--font-stack-sansserif);
    --font-stack-heading:var(--font-stack-general);
    --font-stack-monospace:#{inspect($font-stack-monospace)};
    --font-size-base:#{$font-size-base};
    --font-size-general:#{$font-size-general};
    --font-size-big:#{$font-size-big};
    --font-size-xbig:#{$font-size-xbig};
    --font-size-xxbig:#{$font-size-xxbig};
    --font-size-small:#{$font-size-small};
    --font-size-xsmall:#{$font-size-xsmall};
    --font-size-xxsmall:#{$font-size-xxsmall};
    --font-size-h1:#{$font-size-h1};
    --font-size-h2:#{$font-size-h2};
    --font-size-h3:#{$font-size-h3};
    --font-size-h4:#{$font-size-h4};
    --font-weight-normal:#{$font-weight-normal};
    --font-weight-bold:#{$font-weight-bold};
    --font-weight-heading:#{$font-weight-heading};
    --line-height-general:#{$line-height-general};
    --line-height-h1:#{$line-height-h1};
    --line-height-h2:#{$line-height-h2};
    --line-height-h3:#{$line-height-h3};
    --line-height-h4:#{$line-height-h4};
    --color-contrast:#{$color-dark};
    --color-background:#{$color-light};
    --color-contrast-medium:#{$color-gray};
    --color-contrast-low:#{$color-graylight};
    --color-contrast-lower:#{$color-graylighter};
    --color-contrast-lowest:#{$color-graylightest};
    --color-contrast-high:#{$color-graydark};
    --color-contrast-higher:#{$color-graydarker};
    --color-contrast-highest:#{$color-graydarkest};
    --color-success:#{$color-success};
    --color-alert:#{$color-alert};
    --color-warning:#{$color-warning};
    --color-highlight:#{$color-highlight};
    --color-primary:#{$color-primary};
    --color-secondary:#{$color-secondary};
    --color-accent:#{$color-accent};
    --color-dribbble:#{$color-dribbble};
    --color-facebook:#{$color-facebook};
    --color-flickr:#{$color-flickr};
    --color-instagram:#{$color-instagram};
    --color-linkedin:#{$color-linkedin};
    --color-medium:#{$color-medium};
    --color-pinterest:#{$color-pinterest};
    --color-rss:#{$color-rss};
    --color-tumblr:#{$color-tumblr};
    --color-twitter:#{$color-twitter};
    --color-youtube:#{$color-youtube};
    --space:calc(var(--font-size-general) * var(--line-height-general));
    --space-top-h:calc(var(--space) * 1.25);
    --space-bottom-h:calc(var(--space) * 0.625);
    --space-small:calc(var(--space) * 0.875);
    --space-xsmall:calc(var(--space) * 0.75);
    --space-xxsmall:calc(var(--space) * 0.625);
    --space-xxxsmall:calc(var(--space) * 0.5);
    --space-xxxxsmall:calc(var(--space) * 0.375);
    --space-xxxxxsmall:calc(var(--space) * 0.25);
    --space-xxxxxxsmall:calc(var(--space) * 0.125);
    --space-large:calc(var(--space) * 1.125);
    --space-xlarge:calc(var(--space) * 1.25);
    --space-xxlarge:calc(var(--space) * 1.375);
    --space-xxxlarge:calc(var(--space) * 1.5);
    --space-xxxxlarge:calc(var(--space) * 1.625);
    --space-xxxxxlarge:calc(var(--space) * 1.75);
    --space-xxxxxxlarge:calc(var(--space) * 1.875);
    --alley:30px;
    --p-inline-t:#{$p-inline-t};
    --p-inline-r:#{$p-inline-r};
    --p-inline-b:#{$p-inline-b};
    --p-inline-l:#{$p-inline-l};
    --padding-inline:var(--p-inline-t) var(--p-inline-r) var(--p-inline-b) var(--p-inline-l);
    --p-box-t:#{$p-box-t};
    --p-box-r:#{$p-box-r};
    --p-box-b:#{$p-box-b};
    --p-box-l:#{$p-box-l};
    --padding-box:var(--p-box-t) var(--p-box-r) var(--p-box-b) var(--p-box-l);
    --p-message-t:#{$p-message-t};
    --p-message-r:#{$p-message-r};
    --p-message-b:#{$p-message-b};
    --p-message-l:#{$p-message-l};
    --padding-message:var(--p-message-t) var(--p-message-r) var(--p-message-b) var(--p-message-l);
    --p-table-t:#{$p-table-t};
    --p-table-r:#{$p-table-r};
    --p-table-b:#{$p-table-b};
    --p-table-l:#{$p-table-l};
    --padding-table:var(--p-table-t) var(--p-table-r) var(--p-table-b) var(--p-table-l);
    --p-button-t:#{$p-button-t};
    --p-button-r:#{$p-button-r};
    --p-button-b:#{$p-button-b};
    --p-button-l:#{$p-button-l};
    --padding-button:var(--p-button-t) var(--p-button-r) var(--p-button-b) var(--p-button-l);
    --p-input-t:#{$p-input-t};
    --p-input-r:#{$p-input-r};
    --p-input-b:#{$p-input-b};
    --p-input-l:#{$p-input-l};
    --padding-input:var(--p-input-t) var(--p-input-r) var(--p-input-b) var(--p-input-l);
}
