//
// CSS Props
//
//

:root {
    --font-stack-serif:#{$font-stack-serif};
    --font-stack-sansserif:#{$font-stack-sansserif};
    --font-stack-general:#{$font-stack-general};
    --font-stack-heading:#{$font-stack-heading};
    --font-stack-monospace:#{$font-stack-monospace};
    --font-size-base:#{$font-size-base};
    --font-size-general:#{$font-size-general};
    --font-size-big:#{$font-size-big};
    --font-size-xbig:#{$font-size-xbig};
    --font-size-xxbig:#{$font-size-xxbig};
    --font-size-small:#{$font-size-small};
    --font-size-xsmall:#{$font-size-xsmall};
    --font-size-xxsmall:#{$font-size-xxsmall};
    --font-size-h1:#{$font-size-h1};
    --font-size-h2:#{$font-size-h2};
    --font-size-h3:#{$font-size-h3};
    --font-size-h4:#{$font-size-h4};
    --font-weight-normal:#{$font-weight-normal};
    --font-weight-bold:#{$font-weight-bold};
    --font-weight-heading:#{$font-weight-heading};
    --line-height-general:#{$line-height-general};
    --line-height-h1:#{$line-height-h1};
    --line-height-h2:#{$line-height-h2};
    --line-height-h3:#{$line-height-h3};
    --line-height-h4:#{$line-height-h4};
    --line-height-general-in-rem:#{$line-height-general-in-rem};
    --line-height-h1-in-rem:#{$line-height-h1-in-rem};
    --line-height-h2-in-rem:#{$line-height-h2-in-rem};
    --line-height-h3-in-rem:#{$line-height-h3-in-rem};
    --line-height-h4-in-rem:#{$line-height-h4-in-rem};
    --color-primary:#{$color-primary};
    --color-dark-accent:#{$color-dark-accent};
    --color-light-accent:#{$color-light-accent};
    --color-background:#{$color-background};
    --color-contrast:#{$color-contrast};
    --color-contrast-medium:#{$color-contrast-medium};
    --color-contrast-low:#{$color-contrast-low};
    --color-contrast-lower:#{$color-contrast-lower};
    --color-contrast-lowest:#{$color-contrast-lowest};
    --color-contrast-high:#{$color-contrast-high};
    --color-contrast-higher:#{$color-contrast-higher};
    --color-contrast-highest:#{$color-contrast-highest};
    --color-success:#{$color-success};
    --color-alert:#{$color-alert};
    --color-warning:#{$color-warning};
    --color-highlight:#{$color-highlight};
    --color-dribbble:#{$color-dribbble};
    --color-facebook:#{$color-facebook};
    --color-flickr:#{$color-flickr};
    --color-instagram:#{$color-instagram};
    --color-linkedin:#{$color-linkedin};
    --color-medium:#{$color-medium};
    --color-pinterest:#{$color-pinterest};
    --color-rss:#{$color-rss};
    --color-tumblr:#{$color-tumblr};
    --color-twitter:#{$color-twitter};
    --color-youtube:#{$color-youtube};
    --space:#{$space};
    --space-top-h:calc(var(--space) * 1.25);
    --space-bottom-h:calc(var(--space) * 0.625);
    --space-small:calc(var(--space) * 0.875);
    --space-xsmall:calc(var(--space) * 0.75);
    --space-2xsmall:calc(var(--space) * 0.625);
    --space-3xsmall:calc(var(--space) * 0.5);
    --space-4xsmall:calc(var(--space) * 0.375);
    --space-5xsmall:calc(var(--space) * 0.25);
    --space-6xsmall:calc(var(--space) * 0.125);
    --space-large:calc(var(--space) * 1.125);
    --space-xlarge:calc(var(--space) * 1.25);
    --space-2xlarge:calc(var(--space) * 1.375);
    --space-3xlarge:calc(var(--space) * 1.5);
    --space-4xlarge:calc(var(--space) * 1.625);
    --space-5xlarge:calc(var(--space) * 1.75);
    --space-6xlarge:calc(var(--space) * 1.875);
    --alley:#{$alley};
    --alley-small:calc(var(--alley) * 0.875);
    --alley-xsmall:calc(var(--alley) * 0.75);
    --alley-2xsmall:calc(var(--alley) * 0.625);
    --alley-3xsmall:calc(var(--alley) * 0.5);
    --alley-4xsmall:calc(var(--alley) * 0.375);
    --alley-5xsmall:calc(var(--alley) * 0.25);
    --alley-6xsmall:calc(var(--alley) * 0.125);
    --alley-large:calc(var(--alley) * 1.125);
    --alley-xlarge:calc(var(--alley) * 1.25);
    --alley-2xlarge:calc(var(--alley) * 1.375);
    --alley-3xlarge:calc(var(--alley) * 1.5);
    --alley-4xlarge:calc(var(--alley) * 1.625);
    --alley-5xlarge:calc(var(--alley) * 1.75);
    --alley-6xlarge:calc(var(--alley) * 1.875);
    --p-inline-t:#{$p-inline-t};
    --p-inline-r:#{$p-inline-r};
    --p-inline-b:#{$p-inline-b};
    --p-inline-l:#{$p-inline-l};
    --padding-inline:var(--p-inline-t) var(--p-inline-r) var(--p-inline-b) var(--p-inline-l);
    --p-box-t:#{$p-box-t};
    --p-box-r:#{$p-box-r};
    --p-box-b:#{$p-box-b};
    --p-box-l:#{$p-box-l};
    --padding-box:var(--p-box-t) var(--p-box-r) var(--p-box-b) var(--p-box-l);
    --p-message-t:#{$p-message-t};
    --p-message-r:#{$p-message-r};
    --p-message-b:#{$p-message-b};
    --p-message-l:#{$p-message-l};
    --padding-message:var(--p-message-t) var(--p-message-r) var(--p-message-b) var(--p-message-l);
    --p-table-t:#{$p-table-t};
    --p-table-r:#{$p-table-r};
    --p-table-b:#{$p-table-b};
    --p-table-l:#{$p-table-l};
    --padding-table:var(--p-table-t) var(--p-table-r) var(--p-table-b) var(--p-table-l);
    --p-button-t:#{$p-button-t};
    --p-button-r:#{$p-button-r};
    --p-button-b:#{$p-button-b};
    --p-button-l:#{$p-button-l};
    --padding-button:var(--p-button-t) var(--p-button-r) var(--p-button-b) var(--p-button-l);
    --p-input-t:#{$p-input-t};
    --p-input-r:#{$p-input-r};
    --p-input-b:#{$p-input-b};
    --p-input-l:#{$p-input-l};
    --padding-input:var(--p-input-t) var(--p-input-r) var(--p-input-b) var(--p-input-l);
    --breakpoint-s:#{$breakpoint-s};
    --breakpoint-m:#{$breakpoint-m};
    --breakpoint-l:#{$breakpoint-l};
    --breakpoint-xl:#{$breakpoint-xl};
    --ease-in-out-expo:#{$ease-in-out-expo};
    --ease-in-out-quart:#{$ease-in-out-quart};
    --default-easing:#{$default-easing};
    --border-size:#{$border-size};
    --max-site-width:#{$max-site-width};
}
