@mixin button-styles() {
    display:inline-block;
    margin-bottom:$margin * 0.2;
    padding:0.425em 1em;
    min-height:2.5rem;
    border:none;
    border-radius:4px;
    background-color:var(--color-dark);
    color:var(--color-graylight);
    cursor:pointer;
    transition:background-color 0.2s, color 0.2s;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
    @include button-styles();

    &[disabled] {
        background-color:var(--color-graylighter);
    }
}

@mixin input-styles() {
    padding:$padding-input;
    min-height:2.5rem;
    width:100%;
    border:none;
    box-shadow:0 0 0 $border-size var(--color-graylighter) inset;

    &:focus {
        outline:none;
        border:none;
        box-shadow:0 0 0 $border-size var(--color-primary) inset;
    }
}

input {
    &[type='color'],
    &[type='date'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='email'],
    &[type='file'],
    &[type='number'],
    &[type='search'],
    &[type='tel'],
    &[type='text'],
    &[type='month'],
    &[type='password'],
    &[type='url'],
    &[type='week'] {
        @include ie9plus() {
            line-height:1;
        }
        @include input-styles();
    }
}

input[type='radio'],
input[type='checkbox'] {
    margin:0 ($alley * 0.25) 0 0;
    vertical-align:-1px;
}

textarea {
    @include input-styles();
}

select {
    @include input-styles();
}

fieldset {
    padding:$padding;
    box-shadow:0 0 0 $border-size var(--color-graylighter) inset;

    legend {
        margin-left:-($alley * 0.25);
        margin-bottom:-($margin * 0.3);
        padding:0 ($alley * 0.25);
        background-color:var(--color-graylight);
        text-transform:uppercase;
        font-size:$font-size-xsmall;
    }
}

form {
    div {
        margin-bottom:$margin;
    }
}

input:not([type='radio']):not([type='checkbox']),
select,
textarea {
    margin-bottom:$margin;
}
