/// Converts `$aspect-width` and `$aspect-height` to the appropriate bottom padding.
/// @param {<number>} $aspect-width [16]
/// @param {<number>} $aspect-height [9]
/// @access private
@mixin aspect-ratio-to-padding($aspect-width:16, $aspect-height:9) {
    padding-bottom:percentage($aspect-height / $aspect-width);
}

/// Adds styles for a responsive video container.
/// @param {<number>} $aspect-width [16]
/// @param {<number>} $aspect-height [9]
@mixin video-container($aspect-width:16, $aspect-height:9) {
    @include aspect-ratio-to-padding($aspect-width, $aspect-height);

    position:relative;
    display:block;
    height:0;

    iframe,
    object,
    embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

/// Includes `@content` on screens that are at least `$min-width` wide.
/// @param {<number>} $min-width
@mixin min($min-width) {
    @media (min-width:$min-width) {
        @content;
    }
}

/// Includes `@content` on screens up to `$max-width` wide.
/// @param {<number>} $max-width
@mixin max($max-width) {
    @media (max-width:$max-width) {
        @content;
    }
}

/// @param {<number>} $min-width
/// @param {<number>} $max-width
@mixin min-max($min-width, $max-width) {
    @media (min-width:$min-width) and (max-width:$max-width) {
        @content;
    }
}

///
@mixin min-small() {
    @media (min-width:$breakpoint-s) {
        @content;
    }
}

///
@mixin min-medium() {
    @media (min-width:$breakpoint-m) {
        @content;
    }
}

///
@mixin min-large() {
    @media (min-width:$breakpoint-l) {
        @content;
    }
}

///
@mixin min-xlarge() {
    @media (min-width:$breakpoint-xl) {
        @content;
    }
}

/// Includes `@content` for ie9 and above.
@mixin ie9plus() {
    // @formatter:off
    @media (min-width:0\0) and (min-resolution:+72dpi) {
        @content;
    }
    // @formatter:on
}

/// Includes `@content` for ie10 and above.
@mixin ie10plus() {
    @media (-ms-high-contrast:none), (-ms-high-contrast:active) {
        @content;
    }
}

/// Removes margins if element is the first and/or last child (depending on `$scope`).
/// @param {<string>} $scope [all]
@mixin control-margins($scope:all) {
    $scope-y:$scope == vertical or $scope == all;
    $scope-x:$scope == horizontal or $scope == all;

    @if $scope-y or $scope == top {
        &:first-child:not(.f-margins) {
            margin-top:0;
        }
    }

    @if $scope-x or $scope == right {
        &:last-child:not(.f-margins) {
            margin-right:0;
        }
    }

    @if $scope-y or $scope == bottom {
        &:last-child:not(.f-margins) {
            margin-bottom:0;
        }
    }

    @if $scope-x or $scope == left {
        &:first-child:not(.f-margins) {
            margin-left:0;
        }
    }
}

/// Removes bottom margins from last children.
@mixin controlled($scope:bottom) {
    * {
        @include control-margins($scope);
    }
}

/// Sets default vertical margins for selected elements
/// @param {<number>|false} $multiplier [false]
@mixin vertical-margins($multiplier:false) {
    $m:if(is-nonneg-unitless-number($multiplier), $multiplier, false);

    hr {
        margin-top:if($m, space($m), space());
        margin-bottom:if($m, space($m), space());
    }

    caption {
        margin-bottom:if($m, calc(#{space($m)} * .25), calc(#{space()} * .25));
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include control-margins(top);

        margin-top:if($m, calc(var(--space-top-h) * #{$m}), var(--space-top-h));
        margin-bottom:if($m, calc(var(--space-bottom-h) * #{$m}), var(--space-bottom-h));
    }

    address,
    blockquote,
    canvas,
    dl,
    fieldset,
    figure,
    form,
    hr,
    noscript,
    ol,
    p,
    pre,
    table,
    ul,
    video {
        margin-bottom:if($m, space($m), space());
    }
}

/// @param {1|2|3|4|5} $type
/// @param {<number>|false} $margins-multiplier [false]
@mixin h($type:1, $margins-multiplier:false) {
    font-weight:var(--font-weight-heading);
    font-size:var(--font-size-h#{$type});
    font-family:var(--font-stack-heading);
    line-height:var(--line-height-h#{$type});

    @if is-nonneg-unitless-number($margins-multiplier) {
        $m:$margins-multiplier;

        @include control-margins(top);

        margin-top:if($m, calc(var(--space-top-h) * #{$m}), var(--space-top-h));
        margin-bottom:if($m, calc(var(--space-bottom-h) * #{$m}), var(--space-bottom-h));
    }
}

///
@mixin big() {
    font-size:var(--font-size-big);
    line-height:var(--line-height-big);
}

///
@mixin xbig() {
    font-size:var(--font-size-xbig);
    line-height:var(--line-height-xbig);
}

///
@mixin xxbig() {
    font-size:var(--font-size-xxbig);
    line-height:var(--line-height-xxbig);
}

///
@mixin small() {
    font-size:var(--font-size-small);
    line-height:var(--line-height-small);
}

///
@mixin xsmall() {
    font-size:var(--font-size-xsmall);
    line-height:var(--line-height-xsmall);
}

///
@mixin xxsmall() {
    font-size:var(--font-size-xxsmall);
    line-height:var(--line-height-xxsmall);
}

/// Hides element when viewport is as wide or wider than `$breakpoint`
@mixin hide($breakpoint:s) {
    @if index(map-keys($breakpoints), $breakpoint) {
        @include min(map-get($breakpoints, $breakpoint)) {
            display:none;
        }
    } @else if is-nonneg-unit-number($breakpoint) {
        @include min($breakpoint) {
            display:none;
        }
    }
}

/// @param {<number>} $multiplier [1]
/// @param {<bool>} $important [false]
@mixin mgbch($multiplier:1, $important:false) {
    $m:if(is-unitless-number($multiplier), $multiplier, 1);
    $i:if($important == true, $important, false);

    margin-top:space(-$m) if($i, !important, null);

    > * {
        margin-top:space($m) if($i, !important, null);
    }
}

/// @param {row|col} $type [row]
/// @param {<number>|false} $multiplier [false]
@mixin row-alleys($type:row, $multiplier:false) {
    $m:false;

    @if index(map-keys($alley-sizes), $multiplier) {
        $m:map-get($alley-sizes, $multiplier);
    } @else if is-nonneg-unitless-number($multiplier) {
        $m:$multiplier;
    }

    @if $type == row {
        margin-right:if($m, calc(#{alley(-$m)} / 2), calc(#{alley(-1)} / 2));
        margin-left:if($m, calc(#{alley(-$m)} / 2), calc(#{alley(-1)} / 2));
    } @else if $type == col {
        padding-right:if($m, calc(#{alley($m)} / 2), calc(#{alley()} / 2));
        padding-left:if($m, calc(#{alley($m)} / 2), calc(#{alley()} / 2));
    }
}

///
@mixin row($alley-multiplier:false) {
    @include row-alleys(row, $alley-multiplier);

    display:flex;
    flex-wrap:wrap;

    > * {
        @include row-alleys(col, $alley-multiplier);
    }
}

/// @access private
@mixin row-alley-styles($alley-multiplier) {
    @include row-alleys(row, $alley-multiplier);

    > * {
        @include row-alleys(col, $alley-multiplier);
    }
}

///
@mixin row-alley($alley-multiplier, $breakpoint:false) {
    $m:false;

    @if index(map-keys($alley-sizes), $alley-multiplier) {
        $m:map-get($alley-sizes, $alley-multiplier);
    } @else if is-nonneg-unitless-number($alley-multiplier) {
        $m:$alley-multiplier;
    }

    @if $m {
        @if index(map-keys($breakpoints), $breakpoint) {
            @include min(map-get($breakpoints, $breakpoint)) {
                @include row-alley-styles($m);
            }
        } @else if is-nonneg-unit-number($breakpoint) {
            @include min($breakpoint) {
                @include row-alley-styles($m);
            }
        } @else {
            @include row-alley-styles($m);
        }
    }
}

///
@mixin col-width($column-width, $breakpoint:false) {
    @if index(map-keys($columns), $column-width) {
        @if index(map-keys($breakpoints), $breakpoint) {
            @include min(map-get($breakpoints, $breakpoint)) {
                width:map-get($columns, $column-width);
            }
        } @else if is-nonneg-unit-number($breakpoint) {
            @include min($breakpoint) {
                width:map-get($columns, $column-width);
            }
        } @else {
            width:map-get($columns, $column-width);
        }
    } @else if is-nonneg-unitless-number($column-width) {
        @if index(map-keys($breakpoints), $breakpoint) {
            @include min(map-get($breakpoints, $breakpoint)) {
                width:percentage($column-width);
            }
        } @else if is-nonneg-unit-number($breakpoint) {
            @include min($breakpoint) {
                width:percentage($column-width);
            }
        } @else {
            width:percentage($column-width);
        }
    }
}

/// Utility to clear floats
@mixin clearfix() {
    &:before,
    &:after {
        display:table;
        clear:both;
        width:100%;
        content:'';
    }
}

///
@mixin figcaption() {
    padding-top:space(0.375);
    color:var(--color-contrast-medium);
    text-align:center;
    font-size:var(--font-size-xsmall);
}

/// Unsets border radius
@mixin sq() {
    border-radius:unset;
}

///
@mixin ellipsis() {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
