$inc:0;

@while $inc < 600 {
    $inc:$inc + 25;

    .mgb-#{$inc} {
        margin-bottom:space($inc / 100);
    }
}

@each $breakpoint-key, $breakpoint-value in $breakpoints {
    .hide-#{$breakpoint-key} {
        @include hide($breakpoint-key);
    }
}

@each $color-key, $color-value in $colors {
    .bg-#{$color-key} {
        background-color:$color-value;
    }

    .text-#{$color-key} {
        color:$color-value;
    }
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
    @each $color-key, $color-value in $colors {
        &.#{$color-key} {
            background-color:$color-value;
            color:auto-color-contrast($color-value);
        }
    }
}

.sq {
    @include sq();
}

.fs-big {
    font-size:var(--font-size-big);
}

.fs-xbig {
    font-size:var(--font-size-xbig);
}

.fs-xxbig {
    font-size:var(--font-size-xxbig);
}

.fs-small {
    font-size:var(--font-size-small);
}

.fs-xsmall {
    font-size:var(--font-size-xsmall);
}

.fs-xxsmall {
    font-size:var(--font-size-xxsmall);
}

.fw-n {
    font-weight:var(--font-weight-normal);
}

.fw-b {
    font-weight:var(--font-weight-bold);
}

.fw-h {
    font-weight:var(--font-weight-heading);
}

@for $i from 1 through 5 {
    .h#{$i} {
        @include h($i, 1);
    }
}

@for $i from 1 through 5 {
    .fs-h#{$i} {
        font-size:var(--font-size-h#{$i});
    }

    .lh-h#{$i} {
        line-height:var(--line-height-h#{$i});
    }
}

.big {
    @include big();
}

.xbig {
    @include xbig();
}

.xxbig {
    @include xxbig();
}

.small {
    @include small();
}

.xsmall {
    @include xsmall();
}

.xxsmall {
    @include xxsmall();
}
