$inc:0;

@while $inc < 600 {
    $inc:$inc + 25;

    .mgb-#{$inc} {
        @include mgb($inc / 100);
    }

    .mgbch-#{$inc} {
        @include mgbch($inc / 100);
    }
}

.sq {
    @include sq();
}

@each $breakpoint-key, $breakpoint-value in $breakpoints {
    .hide-#{$breakpoint-key} {
        @include hide($breakpoint-key);
    }
}

@each $color-key, $color-value in $colors {
    .bg-#{$color-key} {
        background-color:$color-value;
    }

    .text-#{$color-key} {
        color:$color-value;
    }
}
