$inc:0;

@while $inc < 600 {
    $inc:$inc + 25;

    .mgb-#{$inc} {
        margin-bottom:space($inc / 100);
    }
}

@each $breakpoint-key, $breakpoint-value in $breakpoints {
    .hide-#{$breakpoint-key} {
        @include hide($breakpoint-key);
    }
}

@each $color-key, $color-value in $colors {
    .bg-#{$color-key} {
        background-color:$color-value;
    }

    .text-#{$color-key} {
        color:$color-value;
    }
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
    @each $color-key, $color-value in $colors {
        &.#{$color-key} {
            background-color:$color-value;
            color:auto-color-contrast($color-value);
        }
    }
}

.sq {
    @include sq();
}
