figure,
img,
.wp-caption {
    &.alignleft,
    &.alignright {
        padding-top:space(0.25);
    }
}

img {
    &.alignleft,
    &.alignright {
        padding-bottom:space();
    }
}

.alignleft,
.alignright {
    max-width:50%;
}

blockquote {
    &.alignleft,
    &.alignright {
        max-width:40%;
    }
}

.alignleft {
    float:left;
    margin-right:1.25rem;
}

.alignright {
    float:right;
    margin-left:1.25rem;
}

.aligncenter {
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.size {
    &-auto,
    &-full,
    &-large,
    &-medium,
    &-thumbnail {
        max-width:100%;
        height:auto;
    }
}

.tiled-gallery,
.video-player {
    max-width:100%;
    margin-bottom:0 !important;

    &:not(:last-child) {
        margin-bottom:space() !important;
    }
}

.gallery {
    @include row(tighter);
    @include mgbch();

    margin-bottom:space();
}

.gallery-row {
    max-width:100%;
}

.gallery-item {
    margin-bottom:0;
    text-align:center;
}

@for $i from 1 through 10 {
    .gallery-columns-#{$i} {
        > .gallery-item {
            width:100 / $i * 1%;
        }
    }
}

@for $i from 7 through 10 {
    .gallery-columns-#{$i} {
        .wp-caption-text {
            display:none;
        }
    }
}

.post-password-form {
    p {
        &:last-child {
            display:flex;

            input[type='password'] {
                border-right:none;
            }

            input[type='submit'] {
                border-radius:0;
                padding:0 space();
            }
        }
    }
}

.wp-caption {
    margin-bottom:space();
}

.wp-caption-text,
.wp-caption-dd,
.gallery-caption {
    @include figcaption();
}

[class^='embed-'] {
    @include video-container();

    &._1by1 {
        @include aspect-ratio-to-padding(1, 1);
    }

    &._4by3 {
        @include aspect-ratio-to-padding(4, 3);
    }
}

twitterwidget,
twitter-widget {
    margin:0 0 space() !important;

    &:last-child {
        margin:0 !important;
    }

    + p:last-child > script {
        display:block;
        margin-top:space(-1);
    }
}

.mejs-container {
    &:not(:last-child) {
        margin-bottom:space();
    }
}

.mejs-container {
    a {
        border-bottom:none !important;
        text-decoration:none !important;
    }
}
