@import '../../../simpleton/scss/vars';
@import '../../../simpleton/scss/helpers';

.container {
    margin:0 auto;
    padding:($padding * 1.5) ($alley * 0.6) ($padding * 2);
    max-width:800px;
    width:100%;

    @include min($breakpoint-s) {
        padding-right:$alley;
        padding-left:$alley;
    }
}

.colorbox {
    width:40px;
    height:40px;
    border:1px solid $color-graylighter;
    border-radius:50%;
    box-shadow:0 0 0 4px #ffffff inset;
}

.simp.grid.docs {
    .inner {
        padding:$padding * 0.5;
    }
}

.output {
    margin-bottom:$margin;
}
