fieldset {
    padding:$padding-box;
    border:$border-size solid $color-border;

    ol,
    ul {
        margin-left:0;
        list-style-type:none;
    }

     > div {
        margin-bottom:$margin;
    }
}

input {
    &[type='text'],
    &[type='email'],
    &[type='tel'],
    &[type='url'],
    &[type='search'],
    &[type='number'],
    &[type='date'],
    &[type='month'],
    &[type='week'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='password'] {
        @include ie9plus() {
            line-height:1;
        }

        padding:$padding-input;
        width:100%;
        border:$border-size solid $color-border;
    }
}

input[type=radio],
input[type=checkbox] {
    margin:0 ($gutter * 0.3) 0 0;
    vertical-align:-1px;
}

textarea {
    padding:$padding-input;
    width:100%;
    border:$border-size solid $color-border;
}

select {
    padding-top:$p-input-t;
    padding-right:$p-input-r;
    padding-bottom:$p-input-b;
    padding-left:$p-input-l * 0.625;
    width:100%;
    border:$border-size solid $color-border;
    background-color:transparent;
}

button,
input[type='submit'],
input[type='button'],
input[type='reset'],
.button {
    @include button-styles();
}
