@include vertical-margins();

.simp.container {
    * {
        @include control-margins(bottom);
    }
}

p {
    &:empty {
        display:none;
    }
}

@mixin h($type:1) {
    font-size:map_get($font-sizes, h#{$type});
    line-height:map_get($line-heights, h#{$type});
}

h1 {
    @include h(1);
}

h2 {
    @include h(2);
}

h3 {
    @include h(3);
}

h4 {
    @include h(4);
}

table {
    width:100%;
    border:none;
    border-spacing:0;
    border-collapse:collapse;
    text-align:left;

    &.fixed {
        table-layout:fixed;
    }
}

caption {
    padding-top:$padding * 0.375;
    border-top:$border-size solid $color-border;
    text-align:left;
    text-transform:uppercase;
    font-weight:$font-weight-bold;
    font-size:$font-size-xsmall;
}

tr,
th,
td {
    text-align:left;
}

tr {
    border-top:$border-size solid $color-border;
    border-bottom:$border-size solid $color-border;
    text-align:left;
}

thead,
tfoot,
th {
    font-weight:$font-weight-bold;
}

th,
td {
    padding:$p-table-t $p-table-r $p-table-b $p-table-l;
}

figcaption {
    padding-top:$padding * 0.4375;
    color:$color-gray;
    text-align:center;
    font-size:$font-size-xsmall;
}

blockquote {
    padding-left:1em;
    border-left:0.25em solid $color-quote;
    font-size:$font-size-h4;
    line-height:$line-height-h4;
}
