$alley-sizes:() !default;
$alley-sizes-defaults:(
    noalley: 0,
    tightest: 0.25,
    tighter: 0.5,
    tight: 0.75,
    loose: 1.25,
    looser: 1.5,
    loosest: 1.75,
);
$alley-sizes:map_merge($alley-sizes-defaults, $alley-sizes);

@mixin grid-alleys($type:row, $size:false) {
    $multiplier:1;
    $alley:$alley / 2;

    @if ($size != false) {
        @if index(map_keys($alley-sizes), $size) {
            $multiplier:map_get($alley-sizes, $size);
        } @else if isAbsoluteUnitlessNumber($size) {
            $multiplier:$size;
        }
    }

    @if $type == row {
        margin-right:-$alley * $multiplier;
        margin-left:-$alley * $multiplier;
    } @else if $type == col {
        padding-right:$alley * $multiplier;
        padding-left:$alley * $multiplier;
    }
}

@mixin grid($size:false) {
    @include grid-alleys(row, $size);

    display:flex;
    flex-wrap:wrap;

    > * {
        @include grid-alleys(col, $size);

        margin-bottom:$margin;
    }
}

.simp.grid {
    @include grid();

    > .simp.d {
        @each $width-key, $width-value in $widths {
            &-#{$width-key} {
                width:$width-value;
            }
        }
    }

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
        > .simp.#{$breakpoint-key} {
            @each $width-key, $width-value in $widths {
                @include min($breakpoint-value) {
                    &-#{$width-key} {
                        width:$width-value;
                    }
                }
            }
        }
    }

    @each $alley-key, $alley-value in $alley-sizes {
        &.#{$alley-key} {
            @include grid-alleys(row, $alley-key);

            > * {
                @include grid-alleys(col, $alley-key);
            }
        }

        @each $breakpoint-key, $breakpoint-value in $breakpoints {
            &.#{$breakpoint-key}-#{$alley-key} {
                @include min($breakpoint-value) {
                    @include grid-alleys(row, $alley-key);

                    > * {
                        @include grid-alleys(col, $alley-key);
                    }
                }
            }
        }
    }
}
