$content-width:640px;

@mixin container-padding {
    padding-right:$alley * 0.75;
    padding-left:$alley * 0.75;

    @include min($breakpoint-s) {
        padding-right:$alley;
        padding-left:$alley;
    }
}

.container {
    @include container-padding();

    display:flex;
    flex-direction:column;
    margin:0 auto;
    min-height:100vh;
    max-width:$content-width;
    width:100%;
}

.site-header {
    padding:($padding * 2) ($padding * 1.5) ($padding * 3);
    position:fixed;
    top:0;
    left:0;
    width:200px;
    height:100%;
    background-color:$color-light;

    nav {
        @include min($breakpoint-s) {
            max-width:$content-width - ($alley * 2);
        }

        > * {
            text-transform:uppercase;
            font-size:$font-size-small;
        }
    }

    .site-name {
        margin-bottom:$margin * 2;
        font-weight:$font-weight-normal;
        line-height:$line-height-general;
    }

    ul {
        margin-left:0;
        list-style-type:none;
    }
}

main {
    flex:1;
    margin-top:$margin * 4;
    margin-bottom:$margin * 6;
}

.doc-block {
    padding-top:$padding * 3;
}

.site-footer {
    align-items:center;
    height:4.2rem;
    border-top:1px solid $color-secondary;
}

.copyright {
    flex:1;
    text-transform:uppercase;
    font-size:$font-size-xxsmall;
}

.colorbox {
    width:42px;
    height:42px;
    border:1px solid $color-graylighter;
    border-radius:50%;
    box-shadow:0 0 0 4px #ffffff inset;
}

.decoy {
    min-height:4rem;
}

._404 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    .inner {
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-2rem;
        text-align:center;
        transform:translate(-50%, -50%);
    }

    h1 {
        font-size:8rem;
    }

    p {
        text-transform:uppercase;
        font-size:$font-size-small;
    }
}
