:root {
    --content-width:800px;
}

@mixin container-padding-horizontal {
    padding-right:var(--space);
    padding-left:var(--space);

    @include min($breakpoint-s) {
        padding-right:calc(var(--space) * 2);
        padding-left:calc(var(--space) * 2);
    }
}

html body #container#container#container {
    @include controlled();
}

#container {
    @include container-padding-horizontal();

    display:flex;
    flex-direction:column;
    margin:0 auto;
    min-height:100vh;
    max-width:var(--content-width);
    width:100%;
}

.icon {
    display:inline-block;
    width:1em;
    height:1em;
    fill:var(--color-contrast);
    stroke:var(--color-contrast);
    stroke-width:0;
}

.site-header {
    position:fixed;
    top:0;
    left:0;
    overflow-y:auto;
    padding:calc(var(--space) * 2) var(--space) calc(var(--space) * 3);
    width:200px;
    height:100%;
    background-color:var(--color-background);

    nav {
        @include min($breakpoint-s) {
            max-width:calc(var(--content-width) - calc(var(--alley) * 2));
        }

        > * {
            text-transform:uppercase;
            font-size:$font-size-small;
        }
    }

    .site-name {
        margin-bottom:calc(var(--space) * 2);
        font-weight:var(--font-weight-normal);
        line-height:var(--line-height-general);
    }

    ul {
        margin-left:0;
        list-style-type:none;
    }
}

main {
    flex:1;
    margin-top:calc(var(--space) * 4);
    margin-bottom:calc(var(--space) * 5);

    > header {
        margin-bottom:var(--space-5xlarge);
    }
}

.doc-block {
    margin-bottom:calc(var(--space) * 2);

    h3 {
        text-transform:uppercase;
        font-weight:var(--font-weight-normal);
        font-size:var(--font-size-general);
        line-height:var(--line-height-general);

        .icon {
            float:right;
        }
    }

    table {
        table-layout:fixed;

        th,
        td {
            @include ellipsis();
        }

        code {
            padding:0;
            background-color:transparent;
        }
    }

    .anchor {
        padding-top:var(--space-5xlarge);
        font-weight:var(--font-weight-normal);
    }
}

.site-footer {
    display:flex;
    align-items:center;
    height:4.2rem;
    border-top:1px solid var(--color-contrast-low);
}

.copyright {
    text-transform:uppercase;
    font-size:var(--font-size-xxsmall);
}

.colorbox {
    width:42px;
    height:42px;
    border:1px solid var(--color-contrast-lower);
    border-radius:50%;
    box-shadow:0 0 0 4px #ffffff inset;
}

.decoy {
    min-height:4rem;
}

._404 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    .inner {
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-2rem;
        text-align:center;
        transform:translate(-50%, -50%);
    }

    h1 {
        font-size:8rem;
    }

    p {
        text-transform:uppercase;
        font-size:$font-size-small;
    }
}
