/***
 * Fonts
 *
 */
/***
 * Transitions and Animations
 *
 */
/***
 * Sizes
 *
 */
/***
 * Etcetera
 *
 */
/***
 * Utilities
 *
 */
/***
 * Conditionals
 *
 */
/***
 * Strings
 *
 */
/***
 * Colors
 *
 */
/***
 * Numbers
 *
 */
.container {
  padding-right: 22.5px;
  padding-left: 22.5px;
  margin: 0 auto;
  padding-top: 6.025rem;
  max-width: 640px;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (min-width: 480px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

main {
  flex: 1;
}

.doc-block .title span {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
}

.site-header {
  padding-right: 22.5px;
  padding-left: 22.5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #acb29d;
  background-color: #f5f2ef;
}

@media (min-width: 480px) {
  .site-header {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.site-header nav {
  display: flex;
  align-items: center;
  max-width: 622px;
  width: 100%;
  margin: 0 auto;
  height: 3.4rem;
}

@media (min-width: 480px) {
  .site-header nav {
    max-width: 580px;
  }
}

.site-header nav > * {
  font-size: 0.9em;
  text-transform: uppercase;
}

.site-header .site-name {
  flex: 1;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

.site-header ul {
  margin-left: 0;
  list-style-type: none;
}

.site-footer {
  align-items: center;
  border-top: 1px solid #acb29d;
  height: 4.2rem;
}

.copyright {
  flex: 1;
  font-size: 0.7em;
  text-transform: uppercase;
}

.colorbox {
  width: 42px;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff inset;
}

.decoy {
  min-height: 4rem;
}

._404 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._404 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

._404 h1 {
  font-size: 8rem;
}

._404 p {
  text-transform: uppercase;
  font-size: 0.9em;
}

pre[class*=language-] {
  color: #1f1f20;
  font-weight: 400;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #1f1f20;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #990055;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #669900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: rgba(255, 255, 255, 0.5);
  color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0077aa;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*# sourceMappingURL=sourcemaps/docs.css.map */
