/***
 * Fonts
 *
 */
/***
 * Transitions and Animations
 *
 */
/***
 * Sizes
 *
 */
/***
 * Etcetera
 *
 */
/***
 * Utilities
 *
 */
/***
 * Conditionals
 *
 */
/***
 * Strings
 *
 */
/***
 * Colors
 *
 */
/***
 * Numbers
 *
 */
.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 640px;
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: #1f1f20;
  stroke: #1f1f20;
  stroke-width: 0;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 3rem 1.5rem 4.5rem;
  width: 200px;
  height: 100%;
  background-color: #f5f2ef;
}

@media (min-width: 480px) {
  .site-header nav {
    max-width: 580px;
  }
}

.site-header nav > * {
  text-transform: uppercase;
  font-size: 0.9em;
}

.site-header .site-name {
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 1.5;
}

.site-header ul {
  margin-left: 0;
  list-style-type: none;
}

main {
  flex: 1;
  margin-top: 6rem;
  margin-bottom: 7.5rem;
}

main > header {
  margin-bottom: 2.625rem;
}

.doc-block {
  margin-bottom: 3rem;
}

.doc-block h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.doc-block h3 .icon {
  float: right;
}

.doc-block table {
  table-layout: fixed;
}

.doc-block table th,
.doc-block table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-block table code {
  padding: 0;
  background-color: transparent;
}

.doc-block .anchor {
  padding-top: 2.625rem;
  font-weight: 400;
}

.site-footer {
  align-items: center;
  height: 4.2rem;
  border-top: 1px solid #acb29d;
}

.copyright {
  flex: 1;
  text-transform: uppercase;
  font-size: 0.7em;
}

.colorbox {
  width: 42px;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff inset;
}

.decoy {
  min-height: 4rem;
}

._404 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._404 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

._404 h1 {
  font-size: 8rem;
}

._404 p {
  text-transform: uppercase;
  font-size: 0.9em;
}

pre[class*=language-] {
  color: #1f1f20;
  font-weight: 400;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #1f1f20;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #990055;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #669900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: rgba(255, 255, 255, 0.5);
  color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0077aa;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*# sourceMappingURL=sourcemaps/docs.css.map */
