:root {
  --content-width: 800px;
}

html body #container#container#container *:last-child:not(.f-margins) {
  margin-bottom: 0;
}

#container {
  padding-right: calc(var(--alley)*0.5);
  padding-left: calc(var(--alley)*0.5);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 800px;
  max-width: var(--content-width);
  width: 100%;
}

@media (min-width: 480px) {
  #container {
    padding-right: var(--alley);
    padding-left: var(--alley);
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: var(--color-contrast);
  stroke: var(--color-contrast);
  stroke-width: 0;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: calc(var(--space)*3.375) var(--space) calc(var(--space)*4.375);
  width: 180px;
  height: 100%;
  background-color: var(--color-background);
}

@media (min-width: 480px) {
  .site-header nav {
    max-width: calc(800px - var(--alley)*2);
    max-width: calc(var(--content-width) - var(--alley)*2);
  }
}

.site-header nav > * {
  text-transform: uppercase;
  font-size: var(--font-size-small);
}

.site-header .site-name {
  margin-bottom: calc(var(--space)*1.5);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-general);
}

.site-header ul {
  margin-left: 0;
  list-style-type: none;
}

main {
  flex: 1;
  margin-top: calc(var(--space)*3);
  margin-bottom: calc(var(--space)*4);
}

main > h1 {
  margin-bottom: calc(var(--space)*2.125);
}

main > section > h2 {
  font-size: var(--font-size-xsmall);
  line-height: var(--line-height-general);
  font-weight: var(--font-weight-normal);
  margin-bottom: calc(var(--space)*1.25);
  padding-bottom: calc(var(--space)*0.25);
  border-bottom: 0.25rem solid var(--color-contrast-lowest);
}

.doc-block {
  margin-bottom: calc(var(--space)*2);
}

.doc-block h3 {
  text-transform: uppercase;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-general);
  line-height: var(--line-height-general);
}

.doc-block h3 .icon {
  float: right;
}

.doc-block table {
  table-layout: fixed;
}

.doc-block table th,
.doc-block table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-block table code {
  padding: 0;
  background-color: transparent;
}

.doc-block .anchor {
  padding-top: var(--space-5xlarge);
  font-weight: var(--font-weight-normal);
}

.site-footer {
  display: flex;
  align-items: center;
  height: 4.2rem;
  border-top: 1px solid var(--color-contrast-low);
}

.copyright {
  text-transform: uppercase;
  font-size: var(--font-size-xxsmall);
}

.colorbox {
  width: 42px;
  height: 42px;
  border: 1px solid var(--color-contrast-lower);
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff inset;
}

.decoy {
  min-height: 4rem;
  background: linear-gradient(90deg, var(--color-contrast-lower) 0%, var(--color-contrast-lowest) 100%);
}

._404 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._404 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

._404 h1 {
  font-size: 8rem;
}

._404 p {
  text-transform: uppercase;
  font-size: 0.889em;
}

pre[class*=language-] {
  color: var(--color-contrast);
  font-weight: var(--font-weight-normal);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: var(--color-contrast);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #990055;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #669900;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: rgba(255, 255, 255, 0.5);
  color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0077aa;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*# sourceMappingURL=sourcemaps/docs.css.map */
