:root {
  --font-stack-serif: Constantia,"Lucida Bright",Lucidabright,Georgia,serif;
  --font-stack-sansserif: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-stack-general: var(--font-stack-sansserif);
  --font-stack-heading: var(--font-stack-general);
  --font-stack-monospace: Consolas,"Ubuntu Mono","Lucida Console","Courier New",Courier,monospace;
  --font-size-base: 16px;
  --font-size-general: 1rem;
  --font-size-big: 1.1em;
  --font-size-xbig: 1.2em;
  --font-size-xxbig: 1.3em;
  --font-size-small: 0.9em;
  --font-size-xsmall: 0.8em;
  --font-size-xxsmall: 0.7em;
  --font-size-h1: 2em;
  --font-size-h2: 1.6em;
  --font-size-h3: 1.4em;
  --font-size-h4: 1.2em;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-heading: 700;
  --line-height-general: 1.5;
  --line-height-h1: 1.15;
  --line-height-h2: 1.25;
  --line-height-h3: 1.35;
  --line-height-h4: 1.45;
  --line-height-general-in-rem: 1.5rem;
  --line-height-h1-in-rem: 1.15rem;
  --line-height-h2-in-rem: 1.25rem;
  --line-height-h3-in-rem: 1.35rem;
  --line-height-h4-in-rem: 1.45rem;
  --color-primary: #2980b9;
  --color-dark-accent: #3498db;
  --color-light-accent: #8e44ad;
  --color-background: #ffffff;
  --color-contrast: #2c3e50;
  --color-contrast-medium: gray;
  --color-contrast-low: #a6a6a6;
  --color-contrast-lower: #cccccc;
  --color-contrast-lowest: #f2f2f2;
  --color-contrast-high: #666666;
  --color-contrast-higher: #4d4d4d;
  --color-contrast-highest: #333333;
  --color-success: #27ae60;
  --color-alert: #c0392b;
  --color-warning: #d35400;
  --color-highlight: #f1c40f;
  --color-dribbble: #ea4c89;
  --color-facebook: #3b5998;
  --color-flickr: #ff0084;
  --color-instagram: #517fa4;
  --color-linkedin: #0077b5;
  --color-medium: #00ab6b;
  --color-pinterest: #bd081c;
  --color-rss: #f26522;
  --color-tumblr: #35465c;
  --color-twitter: #55acee;
  --color-youtube: #b31217;
  --space: calc(var(--font-size-general)*var(--line-height-general));
  --space-top-h: calc(var(--space)*1.25);
  --space-bottom-h: calc(var(--space)*0.625);
  --space-small: calc(var(--space)*0.875);
  --space-xsmall: calc(var(--space)*0.75);
  --space-xxsmall: calc(var(--space)*0.625);
  --space-xxxsmall: calc(var(--space)*0.5);
  --space-xxxxsmall: calc(var(--space)*0.375);
  --space-xxxxxsmall: calc(var(--space)*0.25);
  --space-xxxxxxsmall: calc(var(--space)*0.125);
  --space-large: calc(var(--space)*1.125);
  --space-xlarge: calc(var(--space)*1.25);
  --space-xxlarge: calc(var(--space)*1.375);
  --space-xxxlarge: calc(var(--space)*1.5);
  --space-xxxxlarge: calc(var(--space)*1.625);
  --space-xxxxxlarge: calc(var(--space)*1.75);
  --space-xxxxxxlarge: calc(var(--space)*1.875);
  --alley: 30px;
  --p-inline-t: 0.125rem;
  --p-inline-r: 0.25rem;
  --p-inline-b: 0.125rem;
  --p-inline-l: 0.25rem;
  --padding-inline: var(--p-inline-t) var(--p-inline-r) var(--p-inline-b) var(--p-inline-l);
  --p-box-t: 0.75rem;
  --p-box-r: 1.25rem;
  --p-box-b: 0.75rem;
  --p-box-l: 1rem;
  --padding-box: var(--p-box-t) var(--p-box-r) var(--p-box-b) var(--p-box-l);
  --p-message-t: 0.75rem;
  --p-message-r: 3.25rem;
  --p-message-b: 0.75rem;
  --p-message-l: 1rem;
  --padding-message: var(--p-message-t) var(--p-message-r) var(--p-message-b) var(--p-message-l);
  --p-table-t: 0.5rem;
  --p-table-r: 2rem;
  --p-table-b: 0.5rem;
  --p-table-l: 0;
  --padding-table: var(--p-table-t) var(--p-table-r) var(--p-table-b) var(--p-table-l);
  --p-button-t: 0.425em;
  --p-button-r: 1em;
  --p-button-b: 0.425em;
  --p-button-l: 1em;
  --padding-button: var(--p-button-t) var(--p-button-r) var(--p-button-b) var(--p-button-l);
  --p-input-t: 0.5rem;
  --p-input-r: 0.75rem;
  --p-input-b: 0.5rem;
  --p-input-l: 0.75rem;
  --padding-input: var(--p-input-t) var(--p-input-r) var(--p-input-b) var(--p-input-l);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --easing: var(--ease-in-out-expo);
  --max-site-width: 1200px;
  --border-size: 1px
}
html {
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 16px;
  font-size: var(--font-size-base);
  -ms-text-size-adjust: 100%
}
html > div,
html > span {
  display: none
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-color: var(--color-background);
  color: #2c3e50;
  color: var(--color-contrast);
  text-shadow: 1px 1px 1px rgba(0,0,0,.05);
  word-wrap: break-word;
  font-weight: 400;
  font-weight: var(--font-weight-normal);
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: var(--font-stack-general);
  line-height: 1.5;
  line-height: var(--line-height-general);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word
}
*,
:after,
:before {
  box-sizing: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
}
.gallery-caption,
.wp-caption-dd,
.wp-caption-text,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}
.gallery-caption,
.wp-caption-dd,
.wp-caption-text,
address,
article,
aside,
blockquote,
details,
div,
dl,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
main,
menu,
nav,
noscript,
ol,
p,
pre,
section,
table,
ul {
  margin: 0;
  padding: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-weight: var(--font-weight-heading);
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: var(--font-stack-heading)
}
h1 b,
h1 strong,
h2 b,
h2 strong,
h3 b,
h3 strong,
h4 b,
h4 strong,
h5 b,
h5 strong,
h6 b,
h6 strong {
  font-weight: 700;
  font-weight: var(--font-weight-heading)
}
ul {
  list-style: square
}
ol {
  list-style: decimal
}
ol,
ul {
  margin-left: calc(1em + 2px)
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 1em
}
dl dt {
  font-weight: 700;
  font-weight: var(--font-weight-bold)
}
dl dd {
  margin-left: calc(1em + 2px)
}
hr {
  height: 1px;
  height: var(--border-size);
  border: 0;
  background-color: #ccc;
  background-color: var(--color-contrast-lower)
}
blockquote,
q {
  quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none
}
a {
  color: #2980b9;
  color: var(--color-primary);
  text-decoration: none;
  transition: color .2s
}
a:hover {
  color: inherit
}
input[type=button]:not(:disabled),
input[type=reset]:not(:disabled),
input[type=submit]:not(:disabled) {
  cursor: pointer
}
textarea {
  resize: none
}
button {
  overflow: visible;
  cursor: pointer
}
fieldset {
  border: 0
}
iframe {
  display: block
}
figure,
iframe {
  max-width: 100%
}
video {
  max-width: 100%;
  height: auto
}
img {
  max-width: 100%;
  height: auto;
  border: 0
}
img,
input,
textarea {
  vertical-align: top
}
dfn,
em {
  font-style: italic
}
b,
strong {
  font-weight: 700;
  font-weight: var(--font-weight-bold)
}
big {
  font-size: 1.1em;
  font-size: var(--font-size-big)
}
small {
  font-size: .9em;
  font-size: var(--font-size-small)
}
ins {
  padding: .125rem .25rem .125rem .25rem;
  padding: var(--padding-inline);
  background-color: #2980b9;
  background-color: var(--color-primary);
  color: #fff;
  color: var(--color-background);
  text-decoration: none
}
mark {
  padding: .125rem .25rem .125rem .25rem;
  padding: var(--padding-inline);
  background-color: #2980b9;
  background-color: var(--color-primary);
  color: #fff;
  color: var(--color-background)
}
code {
  padding: .125rem .25rem .125rem .25rem;
  padding: var(--padding-inline);
  background-color: #f2f2f2;
  background-color: var(--color-contrast-lowest)
}
var {
  font-style: normal
}
pre {
  overflow: auto;
  padding: .75rem 1.25rem .75rem 1rem;
  padding: var(--padding-box);
  border-left: .25rem solid #2980b9;
  border-left: .25rem solid var(--color-primary);
  background-color: #f2f2f2;
  background-color: var(--color-contrast-lowest)
}
pre code {
  padding: 0;
  font-size: inherit
}
blockquote {
  padding: .75rem 1.25rem .75rem 1rem;
  padding: var(--padding-box);
  border-left: .25rem solid #ccc;
  border-left: .25rem solid var(--color-contrast-lower);
  font-size: 1.2em;
  font-size: var(--font-size-h4);
  line-height: 1.45;
  line-height: var(--line-height-h4)
}
code,
kbd,
pre,
samp,
tt,
var {
  font-size: .9em;
  font-size: var(--font-size-small);
  font-family: Consolas,"Ubuntu Mono","Lucida Console","Courier New",Courier,monospace;
  font-family: var(--font-stack-monospace)
}
cite {
  font-weight: 400;
  font-weight: var(--font-weight-normal);
  font-style: italic;
  font-size: .8em;
  font-size: var(--font-size-xsmall)
}
abbr,
acronym {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help
}
del,
s,
strike {
  text-decoration: line-through
}
sub {
  bottom: -.25em
}
sup {
  top: -.45em
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: .8em;
  font-size: var(--font-size-xsmall)
}
::-moz-focus-inner {
  padding: 0;
  border: 0
}
::-webkit-search-cancel-button {
  display: none
}
hr {
  margin-top: 1.5rem;
  margin-top: var(--space);
  margin-bottom: 1.5rem;
  margin-bottom: var(--space)
}
caption {
  margin-bottom: .375rem;
  margin-bottom: calc(var(--space)*.25)
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.875rem;
  margin-top: var(--space-top-h);
  margin-bottom: .9375rem;
  margin-bottom: var(--space-bottom-h)
}
h1:first-child:not(.f-margins),
h2:first-child:not(.f-margins),
h3:first-child:not(.f-margins),
h4:first-child:not(.f-margins),
h5:first-child:not(.f-margins),
h6:first-child:not(.f-margins) {
  margin-top: 0!important
}
address,
blockquote,
canvas,
dl,
fieldset,
figure,
form,
hr,
noscript,
ol,
p,
pre,
table,
ul,
video {
  margin-bottom: 1.5rem;
  margin-bottom: var(--space)
}
p:empty {
  display: none
}
h1 {
  font-size: 2em;
  font-size: var(--font-size-h1);
  line-height: 1.15;
  line-height: var(--line-height-h1)
}
h2 {
  font-size: 1.6em;
  font-size: var(--font-size-h2);
  line-height: 1.25;
  line-height: var(--line-height-h2)
}
h3 {
  font-size: 1.4em;
  font-size: var(--font-size-h3);
  line-height: 1.35;
  line-height: var(--line-height-h3)
}
h4 {
  font-size: 1.2em;
  font-size: var(--font-size-h4);
  line-height: 1.45;
  line-height: var(--line-height-h4)
}
table {
  width: 100%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left
}
table.fixed {
  table-layout: fixed
}
caption {
  padding-top: .5625rem;
  padding-top: calc(var(--space)*.375);
  border-top: 1px solid #ccc;
  border-top: var(--border-size) solid var(--color-contrast-lower);
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-weight: var(--font-weight-bold);
  font-size: .8em;
  font-size: var(--font-size-xsmall)
}
td,
th,
tr {
  text-align: left
}
tr {
  border-top: 1px solid #ccc;
  border-top: var(--border-size) solid var(--color-contrast-lower);
  border-bottom: 1px solid #ccc;
  border-bottom: var(--border-size) solid var(--color-contrast-lower);
  text-align: left
}
tfoot,
th,
thead {
  font-weight: 700;
  font-weight: var(--font-weight-bold)
}
td,
th {
  padding: .5rem 2rem .5rem 0;
  padding: var(--padding-table)
}
.gallery-caption,
.wp-caption-dd,
.wp-caption-text,
figcaption {
  padding-top: .5625rem;
  padding-top: calc(var(--space)*.375);
  color: gray;
  color: var(--color-contrast-medium);
  text-align: center;
  font-size: .8em;
  font-size: var(--font-size-xsmall)
}
.table-container {
  overflow-x: auto
}
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0
}
.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  word-wrap: normal;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%)
}
.mgb-25 {
  margin-bottom: .375rem;
  margin-bottom: calc(var(--space)*.25)
}
.mgbch-25 > * {
  margin-bottom: .375rem;
  margin-bottom: calc(var(--space)*.25)
}
.mgb-50 {
  margin-bottom: .75rem;
  margin-bottom: calc(var(--space)*.5)
}
.mgbch-50 > * {
  margin-bottom: .75rem;
  margin-bottom: calc(var(--space)*.5)
}
.mgb-75 {
  margin-bottom: 1.125rem;
  margin-bottom: calc(var(--space)*.75)
}
.mgbch-75 > * {
  margin-bottom: 1.125rem;
  margin-bottom: calc(var(--space)*.75)
}
.mgb-100 {
  margin-bottom: 1.5rem;
  margin-bottom: calc(var(--space)*1)
}
.mgbch-100 > * {
  margin-bottom: 1.5rem;
  margin-bottom: calc(var(--space)*1)
}
.mgb-125 {
  margin-bottom: 1.875rem;
  margin-bottom: calc(var(--space)*1.25)
}
.mgbch-125 > * {
  margin-bottom: 1.875rem;
  margin-bottom: calc(var(--space)*1.25)
}
.mgb-150 {
  margin-bottom: 2.25rem;
  margin-bottom: calc(var(--space)*1.5)
}
.mgbch-150 > * {
  margin-bottom: 2.25rem;
  margin-bottom: calc(var(--space)*1.5)
}
.mgb-175 {
  margin-bottom: 2.625rem;
  margin-bottom: calc(var(--space)*1.75)
}
.mgbch-175 > * {
  margin-bottom: 2.625rem;
  margin-bottom: calc(var(--space)*1.75)
}
.mgb-200 {
  margin-bottom: 3rem;
  margin-bottom: calc(var(--space)*2)
}
.mgbch-200 > * {
  margin-bottom: 3rem;
  margin-bottom: calc(var(--space)*2)
}
.mgb-225 {
  margin-bottom: 3.375rem;
  margin-bottom: calc(var(--space)*2.25)
}
.mgbch-225 > * {
  margin-bottom: 3.375rem;
  margin-bottom: calc(var(--space)*2.25)
}
.mgb-250 {
  margin-bottom: 3.75rem;
  margin-bottom: calc(var(--space)*2.5)
}
.mgbch-250 > * {
  margin-bottom: 3.75rem;
  margin-bottom: calc(var(--space)*2.5)
}
.mgb-275 {
  margin-bottom: 4.125rem;
  margin-bottom: calc(var(--space)*2.75)
}
.mgbch-275 > * {
  margin-bottom: 4.125rem;
  margin-bottom: calc(var(--space)*2.75)
}
.mgb-300 {
  margin-bottom: 4.5rem;
  margin-bottom: calc(var(--space)*3)
}
.mgbch-300 > * {
  margin-bottom: 4.5rem;
  margin-bottom: calc(var(--space)*3)
}
.mgb-325 {
  margin-bottom: 4.875rem;
  margin-bottom: calc(var(--space)*3.25)
}
.mgbch-325 > * {
  margin-bottom: 4.875rem;
  margin-bottom: calc(var(--space)*3.25)
}
.mgb-350 {
  margin-bottom: 5.25rem;
  margin-bottom: calc(var(--space)*3.5)
}
.mgbch-350 > * {
  margin-bottom: 5.25rem;
  margin-bottom: calc(var(--space)*3.5)
}
.mgb-375 {
  margin-bottom: 5.625rem;
  margin-bottom: calc(var(--space)*3.75)
}
.mgbch-375 > * {
  margin-bottom: 5.625rem;
  margin-bottom: calc(var(--space)*3.75)
}
.mgb-400 {
  margin-bottom: 6rem;
  margin-bottom: calc(var(--space)*4)
}
.mgbch-400 > * {
  margin-bottom: 6rem;
  margin-bottom: calc(var(--space)*4)
}
.mgb-425 {
  margin-bottom: 6.375rem;
  margin-bottom: calc(var(--space)*4.25)
}
.mgbch-425 > * {
  margin-bottom: 6.375rem;
  margin-bottom: calc(var(--space)*4.25)
}
.mgb-450 {
  margin-bottom: 6.75rem;
  margin-bottom: calc(var(--space)*4.5)
}
.mgbch-450 > * {
  margin-bottom: 6.75rem;
  margin-bottom: calc(var(--space)*4.5)
}
.mgb-475 {
  margin-bottom: 7.125rem;
  margin-bottom: calc(var(--space)*4.75)
}
.mgbch-475 > * {
  margin-bottom: 7.125rem;
  margin-bottom: calc(var(--space)*4.75)
}
.mgb-500 {
  margin-bottom: 7.5rem;
  margin-bottom: calc(var(--space)*5)
}
.mgbch-500 > * {
  margin-bottom: 7.5rem;
  margin-bottom: calc(var(--space)*5)
}
.mgb-525 {
  margin-bottom: 7.875rem;
  margin-bottom: calc(var(--space)*5.25)
}
.mgbch-525 > * {
  margin-bottom: 7.875rem;
  margin-bottom: calc(var(--space)*5.25)
}
.mgb-550 {
  margin-bottom: 8.25rem;
  margin-bottom: calc(var(--space)*5.5)
}
.mgbch-550 > * {
  margin-bottom: 8.25rem;
  margin-bottom: calc(var(--space)*5.5)
}
.mgb-575 {
  margin-bottom: 8.625rem;
  margin-bottom: calc(var(--space)*5.75)
}
.mgbch-575 > * {
  margin-bottom: 8.625rem;
  margin-bottom: calc(var(--space)*5.75)
}
.mgb-600 {
  margin-bottom: 9rem;
  margin-bottom: calc(var(--space)*6)
}
.mgbch-600 > * {
  margin-bottom: 9rem;
  margin-bottom: calc(var(--space)*6)
}
.sq {
  border-radius: 0
}
@media (min-width:480px) {
  .hide-s {
    display: none
  }
}
@media (min-width:768px) {
  .hide-m {
    display: none
  }
}
@media (min-width:960px) {
  .hide-l {
    display: none
  }
}
@media (min-width:1200px) {
  .hide-xl {
    display: none
  }
}
.bg-dark {
  background-color: #2c3e50
}
.text-dark {
  color: #2c3e50
}
.bg-light {
  background-color: #fff
}
.text-light {
  color: #fff
}
.bg-gray {
  background-color: gray
}
.text-gray {
  color: gray
}
.bg-graylight {
  background-color: #a6a6a6
}
.text-graylight {
  color: #a6a6a6
}
.bg-graylighter {
  background-color: #ccc
}
.text-graylighter {
  color: #ccc
}
.bg-graylightest {
  background-color: #f2f2f2
}
.text-graylightest {
  color: #f2f2f2
}
.bg-graydark {
  background-color: #666
}
.text-graydark {
  color: #666
}
.bg-graydarker {
  background-color: #4d4d4d
}
.text-graydarker {
  color: #4d4d4d
}
.bg-graydarkest {
  background-color: #333
}
.text-graydarkest {
  color: #333
}
.bg-success {
  background-color: #27ae60
}
.text-success {
  color: #27ae60
}
.bg-alert {
  background-color: #c0392b
}
.text-alert {
  color: #c0392b
}
.bg-warning {
  background-color: #d35400
}
.text-warning {
  color: #d35400
}
.bg-highlight {
  background-color: #f1c40f
}
.text-highlight {
  color: #f1c40f
}
.bg-primary {
  background-color: #2980b9
}
.text-primary {
  color: #2980b9
}
.bg-secondary {
  background-color: #3498db
}
.text-secondary {
  color: #3498db
}
.bg-accent {
  background-color: #8e44ad
}
.text-accent {
  color: #8e44ad
}
.bg-dribbble {
  background-color: #ea4c89
}
.text-dribbble {
  color: #ea4c89
}
.bg-facebook {
  background-color: #3b5998
}
.text-facebook {
  color: #3b5998
}
.bg-flickr {
  background-color: #ff0084
}
.text-flickr {
  color: #ff0084
}
.bg-instagram {
  background-color: #517fa4
}
.text-instagram {
  color: #517fa4
}
.bg-linkedin {
  background-color: #0077b5
}
.text-linkedin {
  color: #0077b5
}
.bg-medium {
  background-color: #00ab6b
}
.text-medium {
  color: #00ab6b
}
.bg-pinterest {
  background-color: #bd081c
}
.text-pinterest {
  color: #bd081c
}
.bg-rss {
  background-color: #f26522
}
.text-rss {
  color: #f26522
}
.bg-tumblr {
  background-color: #35465c
}
.text-tumblr {
  color: #35465c
}
.bg-twitter {
  background-color: #55acee
}
.text-twitter {
  color: #55acee
}
.bg-youtube {
  background-color: #b31217
}
.text-youtube {
  color: #b31217
}
.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  display: inline-block;
  margin-bottom: .375rem;
  margin-bottom: calc(var(--space)*.25);
  padding: .425em 1em .425em 1em;
  padding: var(--padding-button);
  min-height: 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: #2c3e50;
  background-color: var(--color-contrast);
  color: #fff;
  color: var(--color-background);
  cursor: pointer;
  transition: background-color .2s,color .2s
}
.button[disabled],
button[disabled],
input[type=button][disabled],
input[type=reset][disabled],
input[type=submit][disabled] {
  background-color: #ccc;
  background-color: var(--color-contrast-lower)
}
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=week] {
  padding: .5rem .75rem .5rem .75rem;
  padding: var(--padding-input);
  min-height: 2.5rem;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  box-shadow: 0 0 0 var(--border-size) var(--color-contrast-lower) inset
}
@media (min-width:0\0) and (-webkit-min-device-pixel-ratio:0.75),
(min-width:0\0) and (min-resolution:72dpi) {
  input[type=color],
  input[type=date],
  input[type=datetime-local],
  input[type=datetime],
  input[type=email],
  input[type=file],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=url],
  input[type=week] {
    line-height: 1
  }
}
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
input[type=week]:focus {
  outline: 0;
  border: none;
  box-shadow: 0 0 0 1px #2980b9 inset;
  box-shadow: 0 0 0 var(--border-size) var(--color-primary) inset
}
input[type=checkbox],
input[type=radio] {
  margin: 0 7.5px 0 0;
  margin: 0 calc(var(--alley)*.25) 0 0;
  vertical-align: -1px
}
textarea {
  padding: .5rem .75rem .5rem .75rem;
  padding: var(--padding-input);
  min-height: 2.5rem;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  box-shadow: 0 0 0 var(--border-size) var(--color-contrast-lower) inset
}
textarea:focus {
  outline: 0;
  border: none;
  box-shadow: 0 0 0 1px #2980b9 inset;
  box-shadow: 0 0 0 var(--border-size) var(--color-primary) inset
}
select {
  padding: .5rem .75rem .5rem .75rem;
  padding: var(--padding-input);
  min-height: 2.5rem;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  box-shadow: 0 0 0 var(--border-size) var(--color-contrast-lower) inset
}
select:focus {
  outline: 0;
  border: none;
  box-shadow: 0 0 0 1px #2980b9 inset;
  box-shadow: 0 0 0 var(--border-size) var(--color-primary) inset
}
fieldset {
  padding: 1.5rem;
  padding: var(--space);
  box-shadow: 0 0 0 1px #ccc inset;
  box-shadow: 0 0 0 var(--border-size) var(--color-contrast-lower) inset
}
fieldset legend {
  margin-left: -7.5px;
  margin-left: calc(var(--alley)*-.25);
  margin-bottom: -.45rem;
  margin-bottom: calc(var(--space)*-.3);
  padding: 0 7.5px;
  padding: 0 calc(var(--alley)*.25);
  background-color: #a6a6a6;
  background-color: var(--color-contrast-low);
  text-transform: uppercase;
  font-size: .8em;
  font-size: var(--font-size-xsmall)
}
form div {
  margin-bottom: 1.5rem;
  margin-bottom: var(--space)
}
input:not([type=radio]):not([type=checkbox]),
select,
textarea {
  margin-bottom: 1.5rem;
  margin-bottom: var(--space)
}
.row {
  margin-right: -15px;
  margin-right: calc(var(--alley)/2*-1);
  margin-left: -15px;
  margin-left: calc(var(--alley)/2*-1);
  display: flex;
  flex-wrap: wrap
}
.row:after,
.row:before {
  display: table;
  clear: both;
  width: 100%;
  content: ''
}
.row > * {
  padding-right: 15px;
  padding-right: calc(var(--alley)/2);
  padding-left: 15px;
  padding-left: calc(var(--alley)/2)
}
.row.mgb-25.f-margins:last-child:after,
.row.mgb-25:not(:last-child):after {
  margin-bottom: 37.5rem;
  margin-bottom: calc(var(--space)*25)
}
.row.mgbch-25 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-25 > * {
  margin-bottom: 37.5rem!important;
  margin-bottom: calc(var(--space)*25)!important
}
.row.mgb-50.f-margins:last-child:after,
.row.mgb-50:not(:last-child):after {
  margin-bottom: 75rem;
  margin-bottom: calc(var(--space)*50)
}
.row.mgbch-50 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-50 > * {
  margin-bottom: 75rem!important;
  margin-bottom: calc(var(--space)*50)!important
}
.row.mgb-75.f-margins:last-child:after,
.row.mgb-75:not(:last-child):after {
  margin-bottom: 112.5rem;
  margin-bottom: calc(var(--space)*75)
}
.row.mgbch-75 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-75 > * {
  margin-bottom: 112.5rem!important;
  margin-bottom: calc(var(--space)*75)!important
}
.row.mgb-100.f-margins:last-child:after,
.row.mgb-100:not(:last-child):after {
  margin-bottom: 150rem;
  margin-bottom: calc(var(--space)*100)
}
.row.mgbch-100 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-100 > * {
  margin-bottom: 150rem!important;
  margin-bottom: calc(var(--space)*100)!important
}
.row.mgb-125.f-margins:last-child:after,
.row.mgb-125:not(:last-child):after {
  margin-bottom: 187.5rem;
  margin-bottom: calc(var(--space)*125)
}
.row.mgbch-125 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-125 > * {
  margin-bottom: 187.5rem!important;
  margin-bottom: calc(var(--space)*125)!important
}
.row.mgb-150.f-margins:last-child:after,
.row.mgb-150:not(:last-child):after {
  margin-bottom: 225rem;
  margin-bottom: calc(var(--space)*150)
}
.row.mgbch-150 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-150 > * {
  margin-bottom: 225rem!important;
  margin-bottom: calc(var(--space)*150)!important
}
.row.mgb-175.f-margins:last-child:after,
.row.mgb-175:not(:last-child):after {
  margin-bottom: 262.5rem;
  margin-bottom: calc(var(--space)*175)
}
.row.mgbch-175 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-175 > * {
  margin-bottom: 262.5rem!important;
  margin-bottom: calc(var(--space)*175)!important
}
.row.mgb-200.f-margins:last-child:after,
.row.mgb-200:not(:last-child):after {
  margin-bottom: 300rem;
  margin-bottom: calc(var(--space)*200)
}
.row.mgbch-200 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-200 > * {
  margin-bottom: 300rem!important;
  margin-bottom: calc(var(--space)*200)!important
}
.row.mgb-225.f-margins:last-child:after,
.row.mgb-225:not(:last-child):after {
  margin-bottom: 337.5rem;
  margin-bottom: calc(var(--space)*225)
}
.row.mgbch-225 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-225 > * {
  margin-bottom: 337.5rem!important;
  margin-bottom: calc(var(--space)*225)!important
}
.row.mgb-250.f-margins:last-child:after,
.row.mgb-250:not(:last-child):after {
  margin-bottom: 375rem;
  margin-bottom: calc(var(--space)*250)
}
.row.mgbch-250 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-250 > * {
  margin-bottom: 375rem!important;
  margin-bottom: calc(var(--space)*250)!important
}
.row.mgb-275.f-margins:last-child:after,
.row.mgb-275:not(:last-child):after {
  margin-bottom: 412.5rem;
  margin-bottom: calc(var(--space)*275)
}
.row.mgbch-275 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-275 > * {
  margin-bottom: 412.5rem!important;
  margin-bottom: calc(var(--space)*275)!important
}
.row.mgb-300.f-margins:last-child:after,
.row.mgb-300:not(:last-child):after {
  margin-bottom: 450rem;
  margin-bottom: calc(var(--space)*300)
}
.row.mgbch-300 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-300 > * {
  margin-bottom: 450rem!important;
  margin-bottom: calc(var(--space)*300)!important
}
.row.mgb-325.f-margins:last-child:after,
.row.mgb-325:not(:last-child):after {
  margin-bottom: 487.5rem;
  margin-bottom: calc(var(--space)*325)
}
.row.mgbch-325 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-325 > * {
  margin-bottom: 487.5rem!important;
  margin-bottom: calc(var(--space)*325)!important
}
.row.mgb-350.f-margins:last-child:after,
.row.mgb-350:not(:last-child):after {
  margin-bottom: 525rem;
  margin-bottom: calc(var(--space)*350)
}
.row.mgbch-350 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-350 > * {
  margin-bottom: 525rem!important;
  margin-bottom: calc(var(--space)*350)!important
}
.row.mgb-375.f-margins:last-child:after,
.row.mgb-375:not(:last-child):after {
  margin-bottom: 562.5rem;
  margin-bottom: calc(var(--space)*375)
}
.row.mgbch-375 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-375 > * {
  margin-bottom: 562.5rem!important;
  margin-bottom: calc(var(--space)*375)!important
}
.row.mgb-400.f-margins:last-child:after,
.row.mgb-400:not(:last-child):after {
  margin-bottom: 600rem;
  margin-bottom: calc(var(--space)*400)
}
.row.mgbch-400 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-400 > * {
  margin-bottom: 600rem!important;
  margin-bottom: calc(var(--space)*400)!important
}
.row.mgb-425.f-margins:last-child:after,
.row.mgb-425:not(:last-child):after {
  margin-bottom: 637.5rem;
  margin-bottom: calc(var(--space)*425)
}
.row.mgbch-425 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-425 > * {
  margin-bottom: 637.5rem!important;
  margin-bottom: calc(var(--space)*425)!important
}
.row.mgb-450.f-margins:last-child:after,
.row.mgb-450:not(:last-child):after {
  margin-bottom: 675rem;
  margin-bottom: calc(var(--space)*450)
}
.row.mgbch-450 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-450 > * {
  margin-bottom: 675rem!important;
  margin-bottom: calc(var(--space)*450)!important
}
.row.mgb-475.f-margins:last-child:after,
.row.mgb-475:not(:last-child):after {
  margin-bottom: 712.5rem;
  margin-bottom: calc(var(--space)*475)
}
.row.mgbch-475 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-475 > * {
  margin-bottom: 712.5rem!important;
  margin-bottom: calc(var(--space)*475)!important
}
.row.mgb-500.f-margins:last-child:after,
.row.mgb-500:not(:last-child):after {
  margin-bottom: 750rem;
  margin-bottom: calc(var(--space)*500)
}
.row.mgbch-500 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-500 > * {
  margin-bottom: 750rem!important;
  margin-bottom: calc(var(--space)*500)!important
}
.row.mgb-525.f-margins:last-child:after,
.row.mgb-525:not(:last-child):after {
  margin-bottom: 787.5rem;
  margin-bottom: calc(var(--space)*525)
}
.row.mgbch-525 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-525 > * {
  margin-bottom: 787.5rem!important;
  margin-bottom: calc(var(--space)*525)!important
}
.row.mgb-550.f-margins:last-child:after,
.row.mgb-550:not(:last-child):after {
  margin-bottom: 825rem;
  margin-bottom: calc(var(--space)*550)
}
.row.mgbch-550 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-550 > * {
  margin-bottom: 825rem!important;
  margin-bottom: calc(var(--space)*550)!important
}
.row.mgb-575.f-margins:last-child:after,
.row.mgb-575:not(:last-child):after {
  margin-bottom: 862.5rem;
  margin-bottom: calc(var(--space)*575)
}
.row.mgbch-575 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-575 > * {
  margin-bottom: 862.5rem!important;
  margin-bottom: calc(var(--space)*575)!important
}
.row.mgb-600.f-margins:last-child:after,
.row.mgb-600:not(:last-child):after {
  margin-bottom: 900rem;
  margin-bottom: calc(var(--space)*600)
}
.row.mgbch-600 {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.row.mgbch-600 > * {
  margin-bottom: 900rem!important;
  margin-bottom: calc(var(--space)*600)!important
}
.row.noalley {
  margin-right: 0;
  margin-right: calc(var(--alley)/2*0);
  margin-left: 0;
  margin-left: calc(var(--alley)/2*0)
}
.row.noalley > * {
  padding-right: 0;
  padding-right: calc(var(--alley)/2*0);
  padding-left: 0;
  padding-left: calc(var(--alley)/2*0)
}
.row.tightest {
  margin-right: -3.75px;
  margin-right: calc(var(--alley)/2*-.25);
  margin-left: -3.75px;
  margin-left: calc(var(--alley)/2*-.25)
}
.row.tightest > * {
  padding-right: 3.75px;
  padding-right: calc(var(--alley)/2*.25);
  padding-left: 3.75px;
  padding-left: calc(var(--alley)/2*.25)
}
.row.tighter {
  margin-right: -7.5px;
  margin-right: calc(var(--alley)/2*-.5);
  margin-left: -7.5px;
  margin-left: calc(var(--alley)/2*-.5)
}
.row.tighter > * {
  padding-right: 7.5px;
  padding-right: calc(var(--alley)/2*.5);
  padding-left: 7.5px;
  padding-left: calc(var(--alley)/2*.5)
}
.row.tight {
  margin-right: -11.25px;
  margin-right: calc(var(--alley)/2*-.75);
  margin-left: -11.25px;
  margin-left: calc(var(--alley)/2*-.75)
}
.row.tight > * {
  padding-right: 11.25px;
  padding-right: calc(var(--alley)/2*.75);
  padding-left: 11.25px;
  padding-left: calc(var(--alley)/2*.75)
}
.row.comfy {
  margin-right: -15px;
  margin-right: calc(var(--alley)/2*-1);
  margin-left: -15px;
  margin-left: calc(var(--alley)/2*-1)
}
.row.comfy > * {
  padding-right: 15px;
  padding-right: calc(var(--alley)/2*1);
  padding-left: 15px;
  padding-left: calc(var(--alley)/2*1)
}
.row.loose {
  margin-right: -18.75px;
  margin-right: calc(var(--alley)/2*-1.25);
  margin-left: -18.75px;
  margin-left: calc(var(--alley)/2*-1.25)
}
.row.loose > * {
  padding-right: 18.75px;
  padding-right: calc(var(--alley)/2*1.25);
  padding-left: 18.75px;
  padding-left: calc(var(--alley)/2*1.25)
}
.row.looser {
  margin-right: -22.5px;
  margin-right: calc(var(--alley)/2*-1.5);
  margin-left: -22.5px;
  margin-left: calc(var(--alley)/2*-1.5)
}
.row.looser > * {
  padding-right: 22.5px;
  padding-right: calc(var(--alley)/2*1.5);
  padding-left: 22.5px;
  padding-left: calc(var(--alley)/2*1.5)
}
.row.loosest {
  margin-right: -26.25px;
  margin-right: calc(var(--alley)/2*-1.75);
  margin-left: -26.25px;
  margin-left: calc(var(--alley)/2*-1.75)
}
.row.loosest > * {
  padding-right: 26.25px;
  padding-right: calc(var(--alley)/2*1.75);
  padding-left: 26.25px;
  padding-left: calc(var(--alley)/2*1.75)
}
@media (min-width:480px) {
  .row.s-noalley {
    margin-right: 0;
    margin-right: calc(var(--alley)/2*0);
    margin-left: 0;
    margin-left: calc(var(--alley)/2*0)
  }
  .row.s-noalley > * {
    padding-right: 0;
    padding-right: calc(var(--alley)/2*0);
    padding-left: 0;
    padding-left: calc(var(--alley)/2*0)
  }
}
@media (min-width:480px) {
  .row.s-tightest {
    margin-right: -3.75px;
    margin-right: calc(var(--alley)/2*-.25);
    margin-left: -3.75px;
    margin-left: calc(var(--alley)/2*-.25)
  }
  .row.s-tightest > * {
    padding-right: 3.75px;
    padding-right: calc(var(--alley)/2*.25);
    padding-left: 3.75px;
    padding-left: calc(var(--alley)/2*.25)
  }
}
@media (min-width:480px) {
  .row.s-tighter {
    margin-right: -7.5px;
    margin-right: calc(var(--alley)/2*-.5);
    margin-left: -7.5px;
    margin-left: calc(var(--alley)/2*-.5)
  }
  .row.s-tighter > * {
    padding-right: 7.5px;
    padding-right: calc(var(--alley)/2*.5);
    padding-left: 7.5px;
    padding-left: calc(var(--alley)/2*.5)
  }
}
@media (min-width:480px) {
  .row.s-tight {
    margin-right: -11.25px;
    margin-right: calc(var(--alley)/2*-.75);
    margin-left: -11.25px;
    margin-left: calc(var(--alley)/2*-.75)
  }
  .row.s-tight > * {
    padding-right: 11.25px;
    padding-right: calc(var(--alley)/2*.75);
    padding-left: 11.25px;
    padding-left: calc(var(--alley)/2*.75)
  }
}
@media (min-width:480px) {
  .row.s-comfy {
    margin-right: -15px;
    margin-right: calc(var(--alley)/2*-1);
    margin-left: -15px;
    margin-left: calc(var(--alley)/2*-1)
  }
  .row.s-comfy > * {
    padding-right: 15px;
    padding-right: calc(var(--alley)/2*1);
    padding-left: 15px;
    padding-left: calc(var(--alley)/2*1)
  }
}
@media (min-width:480px) {
  .row.s-loose {
    margin-right: -18.75px;
    margin-right: calc(var(--alley)/2*-1.25);
    margin-left: -18.75px;
    margin-left: calc(var(--alley)/2*-1.25)
  }
  .row.s-loose > * {
    padding-right: 18.75px;
    padding-right: calc(var(--alley)/2*1.25);
    padding-left: 18.75px;
    padding-left: calc(var(--alley)/2*1.25)
  }
}
@media (min-width:480px) {
  .row.s-looser {
    margin-right: -22.5px;
    margin-right: calc(var(--alley)/2*-1.5);
    margin-left: -22.5px;
    margin-left: calc(var(--alley)/2*-1.5)
  }
  .row.s-looser > * {
    padding-right: 22.5px;
    padding-right: calc(var(--alley)/2*1.5);
    padding-left: 22.5px;
    padding-left: calc(var(--alley)/2*1.5)
  }
}
@media (min-width:480px) {
  .row.s-loosest {
    margin-right: -26.25px;
    margin-right: calc(var(--alley)/2*-1.75);
    margin-left: -26.25px;
    margin-left: calc(var(--alley)/2*-1.75)
  }
  .row.s-loosest > * {
    padding-right: 26.25px;
    padding-right: calc(var(--alley)/2*1.75);
    padding-left: 26.25px;
    padding-left: calc(var(--alley)/2*1.75)
  }
}
@media (min-width:768px) {
  .row.m-noalley {
    margin-right: 0;
    margin-right: calc(var(--alley)/2*0);
    margin-left: 0;
    margin-left: calc(var(--alley)/2*0)
  }
  .row.m-noalley > * {
    padding-right: 0;
    padding-right: calc(var(--alley)/2*0);
    padding-left: 0;
    padding-left: calc(var(--alley)/2*0)
  }
}
@media (min-width:768px) {
  .row.m-tightest {
    margin-right: -3.75px;
    margin-right: calc(var(--alley)/2*-.25);
    margin-left: -3.75px;
    margin-left: calc(var(--alley)/2*-.25)
  }
  .row.m-tightest > * {
    padding-right: 3.75px;
    padding-right: calc(var(--alley)/2*.25);
    padding-left: 3.75px;
    padding-left: calc(var(--alley)/2*.25)
  }
}
@media (min-width:768px) {
  .row.m-tighter {
    margin-right: -7.5px;
    margin-right: calc(var(--alley)/2*-.5);
    margin-left: -7.5px;
    margin-left: calc(var(--alley)/2*-.5)
  }
  .row.m-tighter > * {
    padding-right: 7.5px;
    padding-right: calc(var(--alley)/2*.5);
    padding-left: 7.5px;
    padding-left: calc(var(--alley)/2*.5)
  }
}
@media (min-width:768px) {
  .row.m-tight {
    margin-right: -11.25px;
    margin-right: calc(var(--alley)/2*-.75);
    margin-left: -11.25px;
    margin-left: calc(var(--alley)/2*-.75)
  }
  .row.m-tight > * {
    padding-right: 11.25px;
    padding-right: calc(var(--alley)/2*.75);
    padding-left: 11.25px;
    padding-left: calc(var(--alley)/2*.75)
  }
}
@media (min-width:768px) {
  .row.m-comfy {
    margin-right: -15px;
    margin-right: calc(var(--alley)/2*-1);
    margin-left: -15px;
    margin-left: calc(var(--alley)/2*-1)
  }
  .row.m-comfy > * {
    padding-right: 15px;
    padding-right: calc(var(--alley)/2*1);
    padding-left: 15px;
    padding-left: calc(var(--alley)/2*1)
  }
}
@media (min-width:768px) {
  .row.m-loose {
    margin-right: -18.75px;
    margin-right: calc(var(--alley)/2*-1.25);
    margin-left: -18.75px;
    margin-left: calc(var(--alley)/2*-1.25)
  }
  .row.m-loose > * {
    padding-right: 18.75px;
    padding-right: calc(var(--alley)/2*1.25);
    padding-left: 18.75px;
    padding-left: calc(var(--alley)/2*1.25)
  }
}
@media (min-width:768px) {
  .row.m-looser {
    margin-right: -22.5px;
    margin-right: calc(var(--alley)/2*-1.5);
    margin-left: -22.5px;
    margin-left: calc(var(--alley)/2*-1.5)
  }
  .row.m-looser > * {
    padding-right: 22.5px;
    padding-right: calc(var(--alley)/2*1.5);
    padding-left: 22.5px;
    padding-left: calc(var(--alley)/2*1.5)
  }
}
@media (min-width:768px) {
  .row.m-loosest {
    margin-right: -26.25px;
    margin-right: calc(var(--alley)/2*-1.75);
    margin-left: -26.25px;
    margin-left: calc(var(--alley)/2*-1.75)
  }
  .row.m-loosest > * {
    padding-right: 26.25px;
    padding-right: calc(var(--alley)/2*1.75);
    padding-left: 26.25px;
    padding-left: calc(var(--alley)/2*1.75)
  }
}
@media (min-width:960px) {
  .row.l-noalley {
    margin-right: 0;
    margin-right: calc(var(--alley)/2*0);
    margin-left: 0;
    margin-left: calc(var(--alley)/2*0)
  }
  .row.l-noalley > * {
    padding-right: 0;
    padding-right: calc(var(--alley)/2*0);
    padding-left: 0;
    padding-left: calc(var(--alley)/2*0)
  }
}
@media (min-width:960px) {
  .row.l-tightest {
    margin-right: -3.75px;
    margin-right: calc(var(--alley)/2*-.25);
    margin-left: -3.75px;
    margin-left: calc(var(--alley)/2*-.25)
  }
  .row.l-tightest > * {
    padding-right: 3.75px;
    padding-right: calc(var(--alley)/2*.25);
    padding-left: 3.75px;
    padding-left: calc(var(--alley)/2*.25)
  }
}
@media (min-width:960px) {
  .row.l-tighter {
    margin-right: -7.5px;
    margin-right: calc(var(--alley)/2*-.5);
    margin-left: -7.5px;
    margin-left: calc(var(--alley)/2*-.5)
  }
  .row.l-tighter > * {
    padding-right: 7.5px;
    padding-right: calc(var(--alley)/2*.5);
    padding-left: 7.5px;
    padding-left: calc(var(--alley)/2*.5)
  }
}
@media (min-width:960px) {
  .row.l-tight {
    margin-right: -11.25px;
    margin-right: calc(var(--alley)/2*-.75);
    margin-left: -11.25px;
    margin-left: calc(var(--alley)/2*-.75)
  }
  .row.l-tight > * {
    padding-right: 11.25px;
    padding-right: calc(var(--alley)/2*.75);
    padding-left: 11.25px;
    padding-left: calc(var(--alley)/2*.75)
  }
}
@media (min-width:960px) {
  .row.l-comfy {
    margin-right: -15px;
    margin-right: calc(var(--alley)/2*-1);
    margin-left: -15px;
    margin-left: calc(var(--alley)/2*-1)
  }
  .row.l-comfy > * {
    padding-right: 15px;
    padding-right: calc(var(--alley)/2*1);
    padding-left: 15px;
    padding-left: calc(var(--alley)/2*1)
  }
}
@media (min-width:960px) {
  .row.l-loose {
    margin-right: -18.75px;
    margin-right: calc(var(--alley)/2*-1.25);
    margin-left: -18.75px;
    margin-left: calc(var(--alley)/2*-1.25)
  }
  .row.l-loose > * {
    padding-right: 18.75px;
    padding-right: calc(var(--alley)/2*1.25);
    padding-left: 18.75px;
    padding-left: calc(var(--alley)/2*1.25)
  }
}
@media (min-width:960px) {
  .row.l-looser {
    margin-right: -22.5px;
    margin-right: calc(var(--alley)/2*-1.5);
    margin-left: -22.5px;
    margin-left: calc(var(--alley)/2*-1.5)
  }
  .row.l-looser > * {
    padding-right: 22.5px;
    padding-right: calc(var(--alley)/2*1.5);
    padding-left: 22.5px;
    padding-left: calc(var(--alley)/2*1.5)
  }
}
@media (min-width:960px) {
  .row.l-loosest {
    margin-right: -26.25px;
    margin-right: calc(var(--alley)/2*-1.75);
    margin-left: -26.25px;
    margin-left: calc(var(--alley)/2*-1.75)
  }
  .row.l-loosest > * {
    padding-right: 26.25px;
    padding-right: calc(var(--alley)/2*1.75);
    padding-left: 26.25px;
    padding-left: calc(var(--alley)/2*1.75)
  }
}
@media (min-width:1200px) {
  .row.xl-noalley {
    margin-right: 0;
    margin-right: calc(var(--alley)/2*0);
    margin-left: 0;
    margin-left: calc(var(--alley)/2*0)
  }
  .row.xl-noalley > * {
    padding-right: 0;
    padding-right: calc(var(--alley)/2*0);
    padding-left: 0;
    padding-left: calc(var(--alley)/2*0)
  }
}
@media (min-width:1200px) {
  .row.xl-tightest {
    margin-right: -3.75px;
    margin-right: calc(var(--alley)/2*-.25);
    margin-left: -3.75px;
    margin-left: calc(var(--alley)/2*-.25)
  }
  .row.xl-tightest > * {
    padding-right: 3.75px;
    padding-right: calc(var(--alley)/2*.25);
    padding-left: 3.75px;
    padding-left: calc(var(--alley)/2*.25)
  }
}
@media (min-width:1200px) {
  .row.xl-tighter {
    margin-right: -7.5px;
    margin-right: calc(var(--alley)/2*-.5);
    margin-left: -7.5px;
    margin-left: calc(var(--alley)/2*-.5)
  }
  .row.xl-tighter > * {
    padding-right: 7.5px;
    padding-right: calc(var(--alley)/2*.5);
    padding-left: 7.5px;
    padding-left: calc(var(--alley)/2*.5)
  }
}
@media (min-width:1200px) {
  .row.xl-tight {
    margin-right: -11.25px;
    margin-right: calc(var(--alley)/2*-.75);
    margin-left: -11.25px;
    margin-left: calc(var(--alley)/2*-.75)
  }
  .row.xl-tight > * {
    padding-right: 11.25px;
    padding-right: calc(var(--alley)/2*.75);
    padding-left: 11.25px;
    padding-left: calc(var(--alley)/2*.75)
  }
}
@media (min-width:1200px) {
  .row.xl-comfy {
    margin-right: -15px;
    margin-right: calc(var(--alley)/2*-1);
    margin-left: -15px;
    margin-left: calc(var(--alley)/2*-1)
  }
  .row.xl-comfy > * {
    padding-right: 15px;
    padding-right: calc(var(--alley)/2*1);
    padding-left: 15px;
    padding-left: calc(var(--alley)/2*1)
  }
}
@media (min-width:1200px) {
  .row.xl-loose {
    margin-right: -18.75px;
    margin-right: calc(var(--alley)/2*-1.25);
    margin-left: -18.75px;
    margin-left: calc(var(--alley)/2*-1.25)
  }
  .row.xl-loose > * {
    padding-right: 18.75px;
    padding-right: calc(var(--alley)/2*1.25);
    padding-left: 18.75px;
    padding-left: calc(var(--alley)/2*1.25)
  }
}
@media (min-width:1200px) {
  .row.xl-looser {
    margin-right: -22.5px;
    margin-right: calc(var(--alley)/2*-1.5);
    margin-left: -22.5px;
    margin-left: calc(var(--alley)/2*-1.5)
  }
  .row.xl-looser > * {
    padding-right: 22.5px;
    padding-right: calc(var(--alley)/2*1.5);
    padding-left: 22.5px;
    padding-left: calc(var(--alley)/2*1.5)
  }
}
@media (min-width:1200px) {
  .row.xl-loosest {
    margin-right: -26.25px;
    margin-right: calc(var(--alley)/2*-1.75);
    margin-left: -26.25px;
    margin-left: calc(var(--alley)/2*-1.75)
  }
  .row.xl-loosest > * {
    padding-right: 26.25px;
    padding-right: calc(var(--alley)/2*1.75);
    padding-left: 26.25px;
    padding-left: calc(var(--alley)/2*1.75)
  }
}
.row > .col-1 {
  width: 8.33333%
}
.row > .col-2 {
  width: 16.66667%
}
.row > .col-3 {
  width: 25%
}
.row > .col-4 {
  width: 33.33333%
}
.row > .col-5 {
  width: 41.66667%
}
.row > .col-6 {
  width: 50%
}
.row > .col-7 {
  width: 58.33333%
}
.row > .col-8 {
  width: 66.66667%
}
.row > .col-9 {
  width: 75%
}
.row > .col-10 {
  width: 83.33333%
}
.row > .col-11 {
  width: 91.66667%
}
.row > .col-12 {
  width: 100%
}
.row > .col-p5 {
  width: 5%
}
.row > .col-p10 {
  width: 10%
}
.row > .col-p15 {
  width: 15%
}
.row > .col-p20 {
  width: 20%
}
.row > .col-p25 {
  width: 25%
}
.row > .col-p30 {
  width: 30%
}
.row > .col-p35 {
  width: 35%
}
.row > .col-p40 {
  width: 40%
}
.row > .col-p45 {
  width: 45%
}
.row > .col-p50 {
  width: 50%
}
.row > .col-p55 {
  width: 55%
}
.row > .col-p60 {
  width: 60%
}
.row > .col-p65 {
  width: 65%
}
.row > .col-p70 {
  width: 70%
}
.row > .col-p75 {
  width: 75%
}
.row > .col-p80 {
  width: 80%
}
.row > .col-p85 {
  width: 85%
}
.row > .col-p90 {
  width: 90%
}
.row > .col-p95 {
  width: 95%
}
.row > .col-p100 {
  width: 100%
}
@media (min-width:480px) {
  .row > .s-1 {
    width: 8.33333%
  }
}
@media (min-width:480px) {
  .row > .s-2 {
    width: 16.66667%
  }
}
@media (min-width:480px) {
  .row > .s-3 {
    width: 25%
  }
}
@media (min-width:480px) {
  .row > .s-4 {
    width: 33.33333%
  }
}
@media (min-width:480px) {
  .row > .s-5 {
    width: 41.66667%
  }
}
@media (min-width:480px) {
  .row > .s-6 {
    width: 50%
  }
}
@media (min-width:480px) {
  .row > .s-7 {
    width: 58.33333%
  }
}
@media (min-width:480px) {
  .row > .s-8 {
    width: 66.66667%
  }
}
@media (min-width:480px) {
  .row > .s-9 {
    width: 75%
  }
}
@media (min-width:480px) {
  .row > .s-10 {
    width: 83.33333%
  }
}
@media (min-width:480px) {
  .row > .s-11 {
    width: 91.66667%
  }
}
@media (min-width:480px) {
  .row > .s-12 {
    width: 100%
  }
}
@media (min-width:480px) {
  .row > .s-p5 {
    width: 5%
  }
}
@media (min-width:480px) {
  .row > .s-p10 {
    width: 10%
  }
}
@media (min-width:480px) {
  .row > .s-p15 {
    width: 15%
  }
}
@media (min-width:480px) {
  .row > .s-p20 {
    width: 20%
  }
}
@media (min-width:480px) {
  .row > .s-p25 {
    width: 25%
  }
}
@media (min-width:480px) {
  .row > .s-p30 {
    width: 30%
  }
}
@media (min-width:480px) {
  .row > .s-p35 {
    width: 35%
  }
}
@media (min-width:480px) {
  .row > .s-p40 {
    width: 40%
  }
}
@media (min-width:480px) {
  .row > .s-p45 {
    width: 45%
  }
}
@media (min-width:480px) {
  .row > .s-p50 {
    width: 50%
  }
}
@media (min-width:480px) {
  .row > .s-p55 {
    width: 55%
  }
}
@media (min-width:480px) {
  .row > .s-p60 {
    width: 60%
  }
}
@media (min-width:480px) {
  .row > .s-p65 {
    width: 65%
  }
}
@media (min-width:480px) {
  .row > .s-p70 {
    width: 70%
  }
}
@media (min-width:480px) {
  .row > .s-p75 {
    width: 75%
  }
}
@media (min-width:480px) {
  .row > .s-p80 {
    width: 80%
  }
}
@media (min-width:480px) {
  .row > .s-p85 {
    width: 85%
  }
}
@media (min-width:480px) {
  .row > .s-p90 {
    width: 90%
  }
}
@media (min-width:480px) {
  .row > .s-p95 {
    width: 95%
  }
}
@media (min-width:480px) {
  .row > .s-p100 {
    width: 100%
  }
}
@media (min-width:768px) {
  .row > .m-1 {
    width: 8.33333%
  }
}
@media (min-width:768px) {
  .row > .m-2 {
    width: 16.66667%
  }
}
@media (min-width:768px) {
  .row > .m-3 {
    width: 25%
  }
}
@media (min-width:768px) {
  .row > .m-4 {
    width: 33.33333%
  }
}
@media (min-width:768px) {
  .row > .m-5 {
    width: 41.66667%
  }
}
@media (min-width:768px) {
  .row > .m-6 {
    width: 50%
  }
}
@media (min-width:768px) {
  .row > .m-7 {
    width: 58.33333%
  }
}
@media (min-width:768px) {
  .row > .m-8 {
    width: 66.66667%
  }
}
@media (min-width:768px) {
  .row > .m-9 {
    width: 75%
  }
}
@media (min-width:768px) {
  .row > .m-10 {
    width: 83.33333%
  }
}
@media (min-width:768px) {
  .row > .m-11 {
    width: 91.66667%
  }
}
@media (min-width:768px) {
  .row > .m-12 {
    width: 100%
  }
}
@media (min-width:768px) {
  .row > .m-p5 {
    width: 5%
  }
}
@media (min-width:768px) {
  .row > .m-p10 {
    width: 10%
  }
}
@media (min-width:768px) {
  .row > .m-p15 {
    width: 15%
  }
}
@media (min-width:768px) {
  .row > .m-p20 {
    width: 20%
  }
}
@media (min-width:768px) {
  .row > .m-p25 {
    width: 25%
  }
}
@media (min-width:768px) {
  .row > .m-p30 {
    width: 30%
  }
}
@media (min-width:768px) {
  .row > .m-p35 {
    width: 35%
  }
}
@media (min-width:768px) {
  .row > .m-p40 {
    width: 40%
  }
}
@media (min-width:768px) {
  .row > .m-p45 {
    width: 45%
  }
}
@media (min-width:768px) {
  .row > .m-p50 {
    width: 50%
  }
}
@media (min-width:768px) {
  .row > .m-p55 {
    width: 55%
  }
}
@media (min-width:768px) {
  .row > .m-p60 {
    width: 60%
  }
}
@media (min-width:768px) {
  .row > .m-p65 {
    width: 65%
  }
}
@media (min-width:768px) {
  .row > .m-p70 {
    width: 70%
  }
}
@media (min-width:768px) {
  .row > .m-p75 {
    width: 75%
  }
}
@media (min-width:768px) {
  .row > .m-p80 {
    width: 80%
  }
}
@media (min-width:768px) {
  .row > .m-p85 {
    width: 85%
  }
}
@media (min-width:768px) {
  .row > .m-p90 {
    width: 90%
  }
}
@media (min-width:768px) {
  .row > .m-p95 {
    width: 95%
  }
}
@media (min-width:768px) {
  .row > .m-p100 {
    width: 100%
  }
}
@media (min-width:960px) {
  .row > .l-1 {
    width: 8.33333%
  }
}
@media (min-width:960px) {
  .row > .l-2 {
    width: 16.66667%
  }
}
@media (min-width:960px) {
  .row > .l-3 {
    width: 25%
  }
}
@media (min-width:960px) {
  .row > .l-4 {
    width: 33.33333%
  }
}
@media (min-width:960px) {
  .row > .l-5 {
    width: 41.66667%
  }
}
@media (min-width:960px) {
  .row > .l-6 {
    width: 50%
  }
}
@media (min-width:960px) {
  .row > .l-7 {
    width: 58.33333%
  }
}
@media (min-width:960px) {
  .row > .l-8 {
    width: 66.66667%
  }
}
@media (min-width:960px) {
  .row > .l-9 {
    width: 75%
  }
}
@media (min-width:960px) {
  .row > .l-10 {
    width: 83.33333%
  }
}
@media (min-width:960px) {
  .row > .l-11 {
    width: 91.66667%
  }
}
@media (min-width:960px) {
  .row > .l-12 {
    width: 100%
  }
}
@media (min-width:960px) {
  .row > .l-p5 {
    width: 5%
  }
}
@media (min-width:960px) {
  .row > .l-p10 {
    width: 10%
  }
}
@media (min-width:960px) {
  .row > .l-p15 {
    width: 15%
  }
}
@media (min-width:960px) {
  .row > .l-p20 {
    width: 20%
  }
}
@media (min-width:960px) {
  .row > .l-p25 {
    width: 25%
  }
}
@media (min-width:960px) {
  .row > .l-p30 {
    width: 30%
  }
}
@media (min-width:960px) {
  .row > .l-p35 {
    width: 35%
  }
}
@media (min-width:960px) {
  .row > .l-p40 {
    width: 40%
  }
}
@media (min-width:960px) {
  .row > .l-p45 {
    width: 45%
  }
}
@media (min-width:960px) {
  .row > .l-p50 {
    width: 50%
  }
}
@media (min-width:960px) {
  .row > .l-p55 {
    width: 55%
  }
}
@media (min-width:960px) {
  .row > .l-p60 {
    width: 60%
  }
}
@media (min-width:960px) {
  .row > .l-p65 {
    width: 65%
  }
}
@media (min-width:960px) {
  .row > .l-p70 {
    width: 70%
  }
}
@media (min-width:960px) {
  .row > .l-p75 {
    width: 75%
  }
}
@media (min-width:960px) {
  .row > .l-p80 {
    width: 80%
  }
}
@media (min-width:960px) {
  .row > .l-p85 {
    width: 85%
  }
}
@media (min-width:960px) {
  .row > .l-p90 {
    width: 90%
  }
}
@media (min-width:960px) {
  .row > .l-p95 {
    width: 95%
  }
}
@media (min-width:960px) {
  .row > .l-p100 {
    width: 100%
  }
}
@media (min-width:1200px) {
  .row > .xl-1 {
    width: 8.33333%
  }
}
@media (min-width:1200px) {
  .row > .xl-2 {
    width: 16.66667%
  }
}
@media (min-width:1200px) {
  .row > .xl-3 {
    width: 25%
  }
}
@media (min-width:1200px) {
  .row > .xl-4 {
    width: 33.33333%
  }
}
@media (min-width:1200px) {
  .row > .xl-5 {
    width: 41.66667%
  }
}
@media (min-width:1200px) {
  .row > .xl-6 {
    width: 50%
  }
}
@media (min-width:1200px) {
  .row > .xl-7 {
    width: 58.33333%
  }
}
@media (min-width:1200px) {
  .row > .xl-8 {
    width: 66.66667%
  }
}
@media (min-width:1200px) {
  .row > .xl-9 {
    width: 75%
  }
}
@media (min-width:1200px) {
  .row > .xl-10 {
    width: 83.33333%
  }
}
@media (min-width:1200px) {
  .row > .xl-11 {
    width: 91.66667%
  }
}
@media (min-width:1200px) {
  .row > .xl-12 {
    width: 100%
  }
}
@media (min-width:1200px) {
  .row > .xl-p5 {
    width: 5%
  }
}
@media (min-width:1200px) {
  .row > .xl-p10 {
    width: 10%
  }
}
@media (min-width:1200px) {
  .row > .xl-p15 {
    width: 15%
  }
}
@media (min-width:1200px) {
  .row > .xl-p20 {
    width: 20%
  }
}
@media (min-width:1200px) {
  .row > .xl-p25 {
    width: 25%
  }
}
@media (min-width:1200px) {
  .row > .xl-p30 {
    width: 30%
  }
}
@media (min-width:1200px) {
  .row > .xl-p35 {
    width: 35%
  }
}
@media (min-width:1200px) {
  .row > .xl-p40 {
    width: 40%
  }
}
@media (min-width:1200px) {
  .row > .xl-p45 {
    width: 45%
  }
}
@media (min-width:1200px) {
  .row > .xl-p50 {
    width: 50%
  }
}
@media (min-width:1200px) {
  .row > .xl-p55 {
    width: 55%
  }
}
@media (min-width:1200px) {
  .row > .xl-p60 {
    width: 60%
  }
}
@media (min-width:1200px) {
  .row > .xl-p65 {
    width: 65%
  }
}
@media (min-width:1200px) {
  .row > .xl-p70 {
    width: 70%
  }
}
@media (min-width:1200px) {
  .row > .xl-p75 {
    width: 75%
  }
}
@media (min-width:1200px) {
  .row > .xl-p80 {
    width: 80%
  }
}
@media (min-width:1200px) {
  .row > .xl-p85 {
    width: 85%
  }
}
@media (min-width:1200px) {
  .row > .xl-p90 {
    width: 90%
  }
}
@media (min-width:1200px) {
  .row > .xl-p95 {
    width: 95%
  }
}
@media (min-width:1200px) {
  .row > .xl-p100 {
    width: 100%
  }
}
.wp-caption.alignleft,
.wp-caption.alignright,
figure.alignleft,
figure.alignright,
img.alignleft,
img.alignright {
  padding-top: .375rem;
  padding-top: calc(var(--space)*.25)
}
img.alignleft,
img.alignright {
  padding-bottom: 1.5rem;
  padding-bottom: var(--space)
}
.alignleft,
.alignright {
  max-width: 50%!important
}
blockquote.alignleft,
blockquote.alignright {
  max-width: 40%!important
}
.alignleft {
  float: left;
  margin-right: 1.25rem
}
.alignright {
  float: right;
  margin-left: 1.25rem
}
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto
}
.tiled-gallery,
.video-player {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important;
  max-width: 100%
}
.gallery {
  --padding-bottom-gallery: calc(var(--space)*1.25);
  margin-right: -7.5px;
  margin-right: calc(var(--alley)/2*-.5);
  margin-left: -7.5px;
  margin-left: calc(var(--alley)/2*-.5);
  display: flex;
  flex-wrap: wrap
}
.gallery:after,
.gallery:before {
  display: table;
  clear: both;
  width: 100%;
  content: ''
}
.gallery > * {
  padding-right: 7.5px;
  padding-right: calc(var(--alley)/2*.5);
  padding-left: 7.5px;
  padding-left: calc(var(--alley)/2*.5)
}
html body .gallery > * {
  margin-bottom: 0;
  padding-bottom: var(--padding-bottom-gallery)
}
html body .gallery:last-child {
  margin-bottom: calc(var(--padding-bottom-gallery)*-1)!important
}
.gallery + h1,
.gallery + h2,
.gallery + h3,
.gallery + h4,
.gallery + h5,
.gallery + h6 {
  margin-top: calc(1.875rem - var(--padding-bottom-gallery));
  margin-top: calc(var(--space-top-h) - var(--padding-bottom-gallery))
}
.gallery-row {
  max-width: 100%
}
.gallery-item {
  margin-bottom: 0;
  text-align: center
}
.gallery-columns-1 > .gallery-item {
  width: 100%
}
.gallery-columns-2 > .gallery-item {
  width: 50%
}
.gallery-columns-3 > .gallery-item {
  width: 33.33333%
}
.gallery-columns-4 > .gallery-item {
  width: 25%
}
.gallery-columns-5 > .gallery-item {
  width: 20%
}
.gallery-columns-6 > .gallery-item {
  width: 16.66667%
}
.gallery-columns-7 > .gallery-item {
  width: 14.28571%
}
.gallery-columns-8 > .gallery-item {
  width: 12.5%
}
.gallery-columns-9 > .gallery-item {
  width: 11.11111%
}
.gallery-columns-10 > .gallery-item {
  width: 10%
}
.gallery-columns-7 .wp-caption-text {
  display: none
}
.gallery-columns-8 .wp-caption-text {
  display: none
}
.gallery-columns-9 .wp-caption-text {
  display: none
}
.gallery-columns-10 .wp-caption-text {
  display: none
}
.post-password-form p:last-child {
  display: flex
}
.post-password-form p:last-child input[type=password] {
  border-right: none
}
.post-password-form p:last-child input[type=submit] {
  padding: 0 1.5rem;
  padding: 0 var(--space)
}
.wp-caption {
  margin-bottom: 1.5rem;
  margin-bottom: var(--space)
}
[class^=embed-] {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0
}
[class^=embed-] embed,
[class^=embed-] iframe,
[class^=embed-] object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
[class^=embed-]._1by1 {
  padding-bottom: 100%
}
[class^=embed-]._4by3 {
  padding-bottom: 75%
}
.mejs-container,
twitterwidget {
  margin-bottom: 1.5rem!important;
  margin-bottom: var(--space)!important
}
.mejs-container a {
  border-bottom: none!important;
  text-decoration: none!important
}
/*# sourceMappingURL=sourcemaps/simpleton.css.map */
