/***
 * Fonts
 *
 */
/***
 * Colors
 *
 */
/***
 * Spacing
 *
 */
/***
 * Sizes
 *
 */
/***
 * Transitions and Animations
 *
 */
/***
 * Etcetera
 *
 */
/***
 * Utilities
 *
 */
/***
 * Conditionals
 *
 */
/***
 * Strings
 *
 */
/***
 * Colors
 *
 */
/***
 * Numbers
 *
 */
html {
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
}

html > div,
html > span {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #2c3e50;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  word-wrap: break-word;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

main,
article,
aside,
details,
figcaption,
.wp-caption-text,
.wp-caption-dd,
.gallery-caption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table,
main,
article,
aside,
details,
figcaption,
.wp-caption-text,
.wp-caption-dd,
.gallery-caption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 b,
h1 strong,
h2 b,
h2 strong,
h3 b,
h3 strong,
h4 b,
h4 strong,
h5 b,
h5 strong,
h6 b,
h6 strong {
  font-weight: 700;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol,
ul {
  margin-left: calc(1em + 2px);
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 1em;
}

dl dt {
  font-weight: 700;
}

dl dd {
  margin-left: calc(1em + 2px);
}

hr {
  height: 1px;
  border: 0;
  background-color: #cccccc;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  color: #2980b9;
  text-decoration: none;
  transition: color 200ms;
}

a:hover {
  color: inherit;
}

input[type='submit']:not(:disabled), input[type='button']:not(:disabled), input[type='reset']:not(:disabled) {
  cursor: pointer;
}

textarea {
  resize: none;
}

button {
  overflow: visible;
  cursor: pointer;
}

fieldset {
  border: 0;
}

iframe {
  display: block;
}

iframe,
figure {
  max-width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

img,
input,
textarea {
  vertical-align: top;
}

em,
dfn {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

big {
  font-size: 1.1em;
}

small {
  font-size: 0.9em;
}

ins {
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
  background-color: #2980b9;
  color: #ffffff;
  text-decoration: none;
}

mark {
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
  background-color: #2980b9;
  color: #ffffff;
}

code {
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
  background-color: #f2f2f2;
}

var {
  font-style: normal;
}

pre {
  overflow: auto;
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  border-left: 0.25rem solid #2980b9;
  background-color: #f2f2f2;
}

pre code {
  padding: 0;
  font-size: inherit;
}

blockquote {
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  border-left: 0.25rem solid #cccccc;
  font-size: 1.2em;
  line-height: 1.45;
}

pre,
code,
tt,
var,
kbd,
samp {
  font-size: 0.9em;
  font-family: Consolas, "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
}

cite {
  font-weight: 400;
  font-style: italic;
  font-size: 0.8em;
}

abbr,
acronym {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

del,
s,
strike {
  text-decoration: line-through;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.45em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.8em;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

::-webkit-search-cancel-button {
  display: none;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

caption {
  margin-bottom: 0.375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
}

h1:first-child:not(.f-margins),
h2:first-child:not(.f-margins),
h3:first-child:not(.f-margins),
h4:first-child:not(.f-margins),
h5:first-child:not(.f-margins),
h6:first-child:not(.f-margins) {
  margin-top: 0 !important;
}

address,
article,
aside,
blockquote,
canvas,
div,
dl,
fieldset,
figcaption,
.wp-caption-text,
.wp-caption-dd,
.gallery-caption,
figure,
footer,
form,
header,
hr,
main,
nav,
noscript,
ol,
p,
pre,
section,
table,
ul,
video {
  margin-bottom: 1.5rem;
}

*:last-child:not(.f-margins) {
  margin-bottom: 0 !important;
}

p:empty {
  display: none;
}

h1 {
  font-size: 2em;
  line-height: 1.15;
}

h2 {
  font-size: 1.6em;
  line-height: 1.25;
}

h3 {
  font-size: 1.4em;
  line-height: 1.35;
}

h4 {
  font-size: 1.2em;
  line-height: 1.45;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

table.fixed {
  table-layout: fixed;
}

caption {
  padding-top: 0.5625rem;
  border-top: 1px solid #cccccc;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
}

tr,
th,
td {
  text-align: left;
}

tr {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: left;
}

thead,
tfoot,
th {
  font-weight: 700;
}

th,
td {
  padding: 0.5rem 2rem 0.5rem 0;
}


figcaption,
.wp-caption-text,
.wp-caption-dd,
.gallery-caption {
  padding-top: 0.5625rem;
  color: gray;
  text-align: center;
  font-size: 0.8em;
}

.table-container {
  overflow-x: auto;
}

.video-container {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  word-wrap: normal;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.mgb-25 {
  margin-bottom: 0.375rem;
}

.mgbch-25 > * {
  margin-bottom: 0.375rem;
}

.mgb-50 {
  margin-bottom: 0.75rem;
}

.mgbch-50 > * {
  margin-bottom: 0.75rem;
}

.mgb-75 {
  margin-bottom: 1.125rem;
}

.mgbch-75 > * {
  margin-bottom: 1.125rem;
}

.mgb-100 {
  margin-bottom: 1.5rem;
}

.mgbch-100 > * {
  margin-bottom: 1.5rem;
}

.mgb-125 {
  margin-bottom: 1.875rem;
}

.mgbch-125 > * {
  margin-bottom: 1.875rem;
}

.mgb-150 {
  margin-bottom: 2.25rem;
}

.mgbch-150 > * {
  margin-bottom: 2.25rem;
}

.mgb-175 {
  margin-bottom: 2.625rem;
}

.mgbch-175 > * {
  margin-bottom: 2.625rem;
}

.mgb-200 {
  margin-bottom: 3rem;
}

.mgbch-200 > * {
  margin-bottom: 3rem;
}

.mgb-225 {
  margin-bottom: 3.375rem;
}

.mgbch-225 > * {
  margin-bottom: 3.375rem;
}

.mgb-250 {
  margin-bottom: 3.75rem;
}

.mgbch-250 > * {
  margin-bottom: 3.75rem;
}

.mgb-275 {
  margin-bottom: 4.125rem;
}

.mgbch-275 > * {
  margin-bottom: 4.125rem;
}

.mgb-300 {
  margin-bottom: 4.5rem;
}

.mgbch-300 > * {
  margin-bottom: 4.5rem;
}

.mgb-325 {
  margin-bottom: 4.875rem;
}

.mgbch-325 > * {
  margin-bottom: 4.875rem;
}

.mgb-350 {
  margin-bottom: 5.25rem;
}

.mgbch-350 > * {
  margin-bottom: 5.25rem;
}

.mgb-375 {
  margin-bottom: 5.625rem;
}

.mgbch-375 > * {
  margin-bottom: 5.625rem;
}

.mgb-400 {
  margin-bottom: 6rem;
}

.mgbch-400 > * {
  margin-bottom: 6rem;
}

.mgb-425 {
  margin-bottom: 6.375rem;
}

.mgbch-425 > * {
  margin-bottom: 6.375rem;
}

.mgb-450 {
  margin-bottom: 6.75rem;
}

.mgbch-450 > * {
  margin-bottom: 6.75rem;
}

.mgb-475 {
  margin-bottom: 7.125rem;
}

.mgbch-475 > * {
  margin-bottom: 7.125rem;
}

.mgb-500 {
  margin-bottom: 7.5rem;
}

.mgbch-500 > * {
  margin-bottom: 7.5rem;
}

.mgb-525 {
  margin-bottom: 7.875rem;
}

.mgbch-525 > * {
  margin-bottom: 7.875rem;
}

.mgb-550 {
  margin-bottom: 8.25rem;
}

.mgbch-550 > * {
  margin-bottom: 8.25rem;
}

.mgb-575 {
  margin-bottom: 8.625rem;
}

.mgbch-575 > * {
  margin-bottom: 8.625rem;
}

.mgb-600 {
  margin-bottom: 9rem;
}

.mgbch-600 > * {
  margin-bottom: 9rem;
}

.sq {
  border-radius: 0;
}

@media (min-width: 480px) {
  .hide-s {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-m {
    display: none;
  }
}

@media (min-width: 960px) {
  .hide-l {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hide-xl {
    display: none;
  }
}

.bg-dark {
  background-color: #2c3e50;
}

.text-dark {
  color: #2c3e50;
}

.bg-light {
  background-color: #ffffff;
}

.text-light {
  color: #ffffff;
}

.bg-gray {
  background-color: gray;
}

.text-gray {
  color: gray;
}

.bg-graylight {
  background-color: #a6a6a6;
}

.text-graylight {
  color: #a6a6a6;
}

.bg-graylighter {
  background-color: #cccccc;
}

.text-graylighter {
  color: #cccccc;
}

.bg-graylightest {
  background-color: #f2f2f2;
}

.text-graylightest {
  color: #f2f2f2;
}

.bg-graydark {
  background-color: #666666;
}

.text-graydark {
  color: #666666;
}

.bg-graydarker {
  background-color: #4d4d4d;
}

.text-graydarker {
  color: #4d4d4d;
}

.bg-graydarkest {
  background-color: #333333;
}

.text-graydarkest {
  color: #333333;
}

.bg-success {
  background-color: #27ae60;
}

.text-success {
  color: #27ae60;
}

.bg-alert {
  background-color: #c0392b;
}

.text-alert {
  color: #c0392b;
}

.bg-warning {
  background-color: #d35400;
}

.text-warning {
  color: #d35400;
}

.bg-highlight {
  background-color: #f1c40f;
}

.text-highlight {
  color: #f1c40f;
}

.bg-primary {
  background-color: #2980b9;
}

.text-primary {
  color: #2980b9;
}

.bg-secondary {
  background-color: #3498db;
}

.text-secondary {
  color: #3498db;
}

.bg-accent {
  background-color: #8e44ad;
}

.text-accent {
  color: #8e44ad;
}

.bg-idle {
  background-color: #cccccc;
}

.text-idle {
  color: #cccccc;
}

.bg-subtle {
  background-color: #f2f2f2;
}

.text-subtle {
  color: #f2f2f2;
}

.bg-text {
  background-color: #2c3e50;
}

.text-text {
  color: #2c3e50;
}

.bg-link {
  background-color: #2980b9;
}

.text-link {
  color: #2980b9;
}

.bg-background {
  background-color: #ffffff;
}

.text-background {
  color: #ffffff;
}

.bg-border {
  background-color: #cccccc;
}

.text-border {
  color: #cccccc;
}

.bg-dribbble {
  background-color: #ea4c89;
}

.text-dribbble {
  color: #ea4c89;
}

.bg-facebook {
  background-color: #3b5998;
}

.text-facebook {
  color: #3b5998;
}

.bg-flickr {
  background-color: #ff0084;
}

.text-flickr {
  color: #ff0084;
}

.bg-instagram {
  background-color: #517fa4;
}

.text-instagram {
  color: #517fa4;
}

.bg-linkedin {
  background-color: #0077b5;
}

.text-linkedin {
  color: #0077b5;
}

.bg-medium {
  background-color: #00ab6b;
}

.text-medium {
  color: #00ab6b;
}

.bg-pinterest {
  background-color: #bd081c;
}

.text-pinterest {
  color: #bd081c;
}

.bg-rss {
  background-color: #f26522;
}

.text-rss {
  color: #f26522;
}

.bg-tumblr {
  background-color: #35465c;
}

.text-tumblr {
  color: #35465c;
}

.bg-twitter {
  background-color: #55acee;
}

.text-twitter {
  color: #55acee;
}

.bg-youtube {
  background-color: #b31217;
}

.text-youtube {
  color: #b31217;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.button {
  display: inline-block;
  margin-bottom: 0.3rem;
  padding: 0.425em 1em;
  min-height: 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: #2c3e50;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

input[type='button'][disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
button[disabled],
.button[disabled] {
  background-color: #cccccc;
}

input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='file'], input[type='number'], input[type='search'], input[type='tel'], input[type='text'], input[type='month'], input[type='password'], input[type='url'], input[type='week'] {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  min-height: 2.5rem;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #cccccc inset;
}

@media (min-width: 0\0) and (-webkit-min-device-pixel-ratio: 0.75), (min-width: 0\0) and (min-resolution: 72dpi) {
  input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='file'], input[type='number'], input[type='search'], input[type='tel'], input[type='text'], input[type='month'], input[type='password'], input[type='url'], input[type='week'] {
    line-height: 1;
  }
}

input[type='color']:focus, input[type='date']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='email']:focus, input[type='file']:focus, input[type='number']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='month']:focus, input[type='password']:focus, input[type='url']:focus, input[type='week']:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #2980b9 inset;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 0 7.5px 0 0;
  vertical-align: -1px;
}

textarea {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  min-height: 2.5rem;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #cccccc inset;
}

textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #2980b9 inset;
}

select {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  min-height: 2.5rem;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #cccccc inset;
}

select:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #2980b9 inset;
}

fieldset {
  padding: 1.5rem;
  box-shadow: 0 0 0 1px #cccccc inset;
}

fieldset legend {
  margin-left: -7.5px;
  margin-bottom: -0.45rem;
  padding: 0 7.5px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
}

form div {
  margin-bottom: 1.5rem;
}

input:not([type='radio']):not([type='checkbox']),
select,
textarea {
  margin-bottom: 1.5rem;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.row:before, .row:after {
  display: table;
  clear: both;
  width: 100%;
  content: '';
}

.row > * {
  padding-right: 15px;
  padding-left: 15px;
}

.row.mgb-25:not(:last-child):after, .row.mgb-25.f-margins:last-child:after {
  margin-bottom: 0.375rem;
}

.row.mgbch-25 {
  margin-bottom: -0.375rem !important;
}

.row.mgbch-25 > * {
  margin-bottom: 0.375rem !important;
}

.row.mgb-50:not(:last-child):after, .row.mgb-50.f-margins:last-child:after {
  margin-bottom: 0.75rem;
}

.row.mgbch-50 {
  margin-bottom: -0.75rem !important;
}

.row.mgbch-50 > * {
  margin-bottom: 0.75rem !important;
}

.row.mgb-75:not(:last-child):after, .row.mgb-75.f-margins:last-child:after {
  margin-bottom: 1.125rem;
}

.row.mgbch-75 {
  margin-bottom: -1.125rem !important;
}

.row.mgbch-75 > * {
  margin-bottom: 1.125rem !important;
}

.row.mgb-100:not(:last-child):after, .row.mgb-100.f-margins:last-child:after {
  margin-bottom: 1.5rem;
}

.row.mgbch-100 {
  margin-bottom: -1.5rem !important;
}

.row.mgbch-100 > * {
  margin-bottom: 1.5rem !important;
}

.row.mgb-125:not(:last-child):after, .row.mgb-125.f-margins:last-child:after {
  margin-bottom: 1.875rem;
}

.row.mgbch-125 {
  margin-bottom: -1.875rem !important;
}

.row.mgbch-125 > * {
  margin-bottom: 1.875rem !important;
}

.row.mgb-150:not(:last-child):after, .row.mgb-150.f-margins:last-child:after {
  margin-bottom: 2.25rem;
}

.row.mgbch-150 {
  margin-bottom: -2.25rem !important;
}

.row.mgbch-150 > * {
  margin-bottom: 2.25rem !important;
}

.row.mgb-175:not(:last-child):after, .row.mgb-175.f-margins:last-child:after {
  margin-bottom: 2.625rem;
}

.row.mgbch-175 {
  margin-bottom: -2.625rem !important;
}

.row.mgbch-175 > * {
  margin-bottom: 2.625rem !important;
}

.row.mgb-200:not(:last-child):after, .row.mgb-200.f-margins:last-child:after {
  margin-bottom: 3rem;
}

.row.mgbch-200 {
  margin-bottom: -3rem !important;
}

.row.mgbch-200 > * {
  margin-bottom: 3rem !important;
}

.row.mgb-225:not(:last-child):after, .row.mgb-225.f-margins:last-child:after {
  margin-bottom: 3.375rem;
}

.row.mgbch-225 {
  margin-bottom: -3.375rem !important;
}

.row.mgbch-225 > * {
  margin-bottom: 3.375rem !important;
}

.row.mgb-250:not(:last-child):after, .row.mgb-250.f-margins:last-child:after {
  margin-bottom: 3.75rem;
}

.row.mgbch-250 {
  margin-bottom: -3.75rem !important;
}

.row.mgbch-250 > * {
  margin-bottom: 3.75rem !important;
}

.row.mgb-275:not(:last-child):after, .row.mgb-275.f-margins:last-child:after {
  margin-bottom: 4.125rem;
}

.row.mgbch-275 {
  margin-bottom: -4.125rem !important;
}

.row.mgbch-275 > * {
  margin-bottom: 4.125rem !important;
}

.row.mgb-300:not(:last-child):after, .row.mgb-300.f-margins:last-child:after {
  margin-bottom: 4.5rem;
}

.row.mgbch-300 {
  margin-bottom: -4.5rem !important;
}

.row.mgbch-300 > * {
  margin-bottom: 4.5rem !important;
}

.row.mgb-325:not(:last-child):after, .row.mgb-325.f-margins:last-child:after {
  margin-bottom: 4.875rem;
}

.row.mgbch-325 {
  margin-bottom: -4.875rem !important;
}

.row.mgbch-325 > * {
  margin-bottom: 4.875rem !important;
}

.row.mgb-350:not(:last-child):after, .row.mgb-350.f-margins:last-child:after {
  margin-bottom: 5.25rem;
}

.row.mgbch-350 {
  margin-bottom: -5.25rem !important;
}

.row.mgbch-350 > * {
  margin-bottom: 5.25rem !important;
}

.row.mgb-375:not(:last-child):after, .row.mgb-375.f-margins:last-child:after {
  margin-bottom: 5.625rem;
}

.row.mgbch-375 {
  margin-bottom: -5.625rem !important;
}

.row.mgbch-375 > * {
  margin-bottom: 5.625rem !important;
}

.row.mgb-400:not(:last-child):after, .row.mgb-400.f-margins:last-child:after {
  margin-bottom: 6rem;
}

.row.mgbch-400 {
  margin-bottom: -6rem !important;
}

.row.mgbch-400 > * {
  margin-bottom: 6rem !important;
}

.row.mgb-425:not(:last-child):after, .row.mgb-425.f-margins:last-child:after {
  margin-bottom: 6.375rem;
}

.row.mgbch-425 {
  margin-bottom: -6.375rem !important;
}

.row.mgbch-425 > * {
  margin-bottom: 6.375rem !important;
}

.row.mgb-450:not(:last-child):after, .row.mgb-450.f-margins:last-child:after {
  margin-bottom: 6.75rem;
}

.row.mgbch-450 {
  margin-bottom: -6.75rem !important;
}

.row.mgbch-450 > * {
  margin-bottom: 6.75rem !important;
}

.row.mgb-475:not(:last-child):after, .row.mgb-475.f-margins:last-child:after {
  margin-bottom: 7.125rem;
}

.row.mgbch-475 {
  margin-bottom: -7.125rem !important;
}

.row.mgbch-475 > * {
  margin-bottom: 7.125rem !important;
}

.row.mgb-500:not(:last-child):after, .row.mgb-500.f-margins:last-child:after {
  margin-bottom: 7.5rem;
}

.row.mgbch-500 {
  margin-bottom: -7.5rem !important;
}

.row.mgbch-500 > * {
  margin-bottom: 7.5rem !important;
}

.row.mgb-525:not(:last-child):after, .row.mgb-525.f-margins:last-child:after {
  margin-bottom: 7.875rem;
}

.row.mgbch-525 {
  margin-bottom: -7.875rem !important;
}

.row.mgbch-525 > * {
  margin-bottom: 7.875rem !important;
}

.row.mgb-550:not(:last-child):after, .row.mgb-550.f-margins:last-child:after {
  margin-bottom: 8.25rem;
}

.row.mgbch-550 {
  margin-bottom: -8.25rem !important;
}

.row.mgbch-550 > * {
  margin-bottom: 8.25rem !important;
}

.row.mgb-575:not(:last-child):after, .row.mgb-575.f-margins:last-child:after {
  margin-bottom: 8.625rem;
}

.row.mgbch-575 {
  margin-bottom: -8.625rem !important;
}

.row.mgbch-575 > * {
  margin-bottom: 8.625rem !important;
}

.row.mgb-600:not(:last-child):after, .row.mgb-600.f-margins:last-child:after {
  margin-bottom: 9rem;
}

.row.mgbch-600 {
  margin-bottom: -9rem !important;
}

.row.mgbch-600 > * {
  margin-bottom: 9rem !important;
}

.row.noalley {
  margin-right: 0px;
  margin-left: 0px;
}

.row.noalley > * {
  padding-right: 0px;
  padding-left: 0px;
}

.row.tightest {
  margin-right: -3.75px;
  margin-left: -3.75px;
}

.row.tightest > * {
  padding-right: 3.75px;
  padding-left: 3.75px;
}

.row.tighter {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.row.tighter > * {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.row.tight {
  margin-right: -11.25px;
  margin-left: -11.25px;
}

.row.tight > * {
  padding-right: 11.25px;
  padding-left: 11.25px;
}

.row.comfy {
  margin-right: -15px;
  margin-left: -15px;
}

.row.comfy > * {
  padding-right: 15px;
  padding-left: 15px;
}

.row.loose {
  margin-right: -18.75px;
  margin-left: -18.75px;
}

.row.loose > * {
  padding-right: 18.75px;
  padding-left: 18.75px;
}

.row.looser {
  margin-right: -22.5px;
  margin-left: -22.5px;
}

.row.looser > * {
  padding-right: 22.5px;
  padding-left: 22.5px;
}

.row.loosest {
  margin-right: -26.25px;
  margin-left: -26.25px;
}

.row.loosest > * {
  padding-right: 26.25px;
  padding-left: 26.25px;
}

@media (min-width: 480px) {
  .row.s-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.s-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 480px) {
  .row.s-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.s-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 480px) {
  .row.s-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.s-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 480px) {
  .row.s-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.s-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 480px) {
  .row.s-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.s-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 480px) {
  .row.s-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.s-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 480px) {
  .row.s-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.s-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 480px) {
  .row.s-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.s-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

@media (min-width: 768px) {
  .row.m-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.m-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  .row.m-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.m-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 768px) {
  .row.m-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.m-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 768px) {
  .row.m-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.m-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 768px) {
  .row.m-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.m-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .row.m-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.m-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 768px) {
  .row.m-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.m-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 768px) {
  .row.m-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.m-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

@media (min-width: 960px) {
  .row.l-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.l-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 960px) {
  .row.l-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.l-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 960px) {
  .row.l-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.l-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 960px) {
  .row.l-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.l-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 960px) {
  .row.l-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.l-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 960px) {
  .row.l-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.l-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 960px) {
  .row.l-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.l-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 960px) {
  .row.l-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.l-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

@media (min-width: 1200px) {
  .row.xl-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.xl-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 1200px) {
  .row.xl-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.xl-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 1200px) {
  .row.xl-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.xl-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 1200px) {
  .row.xl-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.xl-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 1200px) {
  .row.xl-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.xl-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .row.xl-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.xl-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 1200px) {
  .row.xl-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.xl-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 1200px) {
  .row.xl-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.xl-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

.row > .col-1 {
  width: 8.33333%;
}

.row > .col-2 {
  width: 16.66667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .col-4 {
  width: 33.33333%;
}

.row > .col-5 {
  width: 41.66667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .col-7 {
  width: 58.33333%;
}

.row > .col-8 {
  width: 66.66667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .col-10 {
  width: 83.33333%;
}

.row > .col-11 {
  width: 91.66667%;
}

.row > .col-12 {
  width: 100%;
}

.row > .col-p5 {
  width: 5%;
}

.row > .col-p10 {
  width: 10%;
}

.row > .col-p15 {
  width: 15%;
}

.row > .col-p20 {
  width: 20%;
}

.row > .col-p25 {
  width: 25%;
}

.row > .col-p30 {
  width: 30%;
}

.row > .col-p35 {
  width: 35%;
}

.row > .col-p40 {
  width: 40%;
}

.row > .col-p45 {
  width: 45%;
}

.row > .col-p50 {
  width: 50%;
}

.row > .col-p55 {
  width: 55%;
}

.row > .col-p60 {
  width: 60%;
}

.row > .col-p65 {
  width: 65%;
}

.row > .col-p70 {
  width: 70%;
}

.row > .col-p75 {
  width: 75%;
}

.row > .col-p80 {
  width: 80%;
}

.row > .col-p85 {
  width: 85%;
}

.row > .col-p90 {
  width: 90%;
}

.row > .col-p95 {
  width: 95%;
}

.row > .col-p100 {
  width: 100%;
}

@media (min-width: 480px) {
  .row > .s-1 {
    width: 8.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-2 {
    width: 16.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-3 {
    width: 25%;
  }
}

@media (min-width: 480px) {
  .row > .s-4 {
    width: 33.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-5 {
    width: 41.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-6 {
    width: 50%;
  }
}

@media (min-width: 480px) {
  .row > .s-7 {
    width: 58.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-8 {
    width: 66.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-9 {
    width: 75%;
  }
}

@media (min-width: 480px) {
  .row > .s-10 {
    width: 83.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-11 {
    width: 91.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-12 {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .row > .s-p5 {
    width: 5%;
  }
}

@media (min-width: 480px) {
  .row > .s-p10 {
    width: 10%;
  }
}

@media (min-width: 480px) {
  .row > .s-p15 {
    width: 15%;
  }
}

@media (min-width: 480px) {
  .row > .s-p20 {
    width: 20%;
  }
}

@media (min-width: 480px) {
  .row > .s-p25 {
    width: 25%;
  }
}

@media (min-width: 480px) {
  .row > .s-p30 {
    width: 30%;
  }
}

@media (min-width: 480px) {
  .row > .s-p35 {
    width: 35%;
  }
}

@media (min-width: 480px) {
  .row > .s-p40 {
    width: 40%;
  }
}

@media (min-width: 480px) {
  .row > .s-p45 {
    width: 45%;
  }
}

@media (min-width: 480px) {
  .row > .s-p50 {
    width: 50%;
  }
}

@media (min-width: 480px) {
  .row > .s-p55 {
    width: 55%;
  }
}

@media (min-width: 480px) {
  .row > .s-p60 {
    width: 60%;
  }
}

@media (min-width: 480px) {
  .row > .s-p65 {
    width: 65%;
  }
}

@media (min-width: 480px) {
  .row > .s-p70 {
    width: 70%;
  }
}

@media (min-width: 480px) {
  .row > .s-p75 {
    width: 75%;
  }
}

@media (min-width: 480px) {
  .row > .s-p80 {
    width: 80%;
  }
}

@media (min-width: 480px) {
  .row > .s-p85 {
    width: 85%;
  }
}

@media (min-width: 480px) {
  .row > .s-p90 {
    width: 90%;
  }
}

@media (min-width: 480px) {
  .row > .s-p95 {
    width: 95%;
  }
}

@media (min-width: 480px) {
  .row > .s-p100 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row > .m-1 {
    width: 8.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-2 {
    width: 16.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .row > .m-4 {
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-5 {
    width: 41.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .row > .m-7 {
    width: 58.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-8 {
    width: 66.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-9 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .row > .m-10 {
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-11 {
    width: 91.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row > .m-p5 {
    width: 5%;
  }
}

@media (min-width: 768px) {
  .row > .m-p10 {
    width: 10%;
  }
}

@media (min-width: 768px) {
  .row > .m-p15 {
    width: 15%;
  }
}

@media (min-width: 768px) {
  .row > .m-p20 {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .row > .m-p25 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .row > .m-p30 {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .row > .m-p35 {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .row > .m-p40 {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .row > .m-p45 {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .row > .m-p50 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .row > .m-p55 {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .row > .m-p60 {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .row > .m-p65 {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .row > .m-p70 {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .row > .m-p75 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .row > .m-p80 {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .row > .m-p85 {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .row > .m-p90 {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .row > .m-p95 {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .row > .m-p100 {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .row > .l-1 {
    width: 8.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-2 {
    width: 16.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-3 {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .row > .l-4 {
    width: 33.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-5 {
    width: 41.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-6 {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .row > .l-7 {
    width: 58.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-8 {
    width: 66.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-9 {
    width: 75%;
  }
}

@media (min-width: 960px) {
  .row > .l-10 {
    width: 83.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-11 {
    width: 91.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-12 {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .row > .l-p5 {
    width: 5%;
  }
}

@media (min-width: 960px) {
  .row > .l-p10 {
    width: 10%;
  }
}

@media (min-width: 960px) {
  .row > .l-p15 {
    width: 15%;
  }
}

@media (min-width: 960px) {
  .row > .l-p20 {
    width: 20%;
  }
}

@media (min-width: 960px) {
  .row > .l-p25 {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .row > .l-p30 {
    width: 30%;
  }
}

@media (min-width: 960px) {
  .row > .l-p35 {
    width: 35%;
  }
}

@media (min-width: 960px) {
  .row > .l-p40 {
    width: 40%;
  }
}

@media (min-width: 960px) {
  .row > .l-p45 {
    width: 45%;
  }
}

@media (min-width: 960px) {
  .row > .l-p50 {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .row > .l-p55 {
    width: 55%;
  }
}

@media (min-width: 960px) {
  .row > .l-p60 {
    width: 60%;
  }
}

@media (min-width: 960px) {
  .row > .l-p65 {
    width: 65%;
  }
}

@media (min-width: 960px) {
  .row > .l-p70 {
    width: 70%;
  }
}

@media (min-width: 960px) {
  .row > .l-p75 {
    width: 75%;
  }
}

@media (min-width: 960px) {
  .row > .l-p80 {
    width: 80%;
  }
}

@media (min-width: 960px) {
  .row > .l-p85 {
    width: 85%;
  }
}

@media (min-width: 960px) {
  .row > .l-p90 {
    width: 90%;
  }
}

@media (min-width: 960px) {
  .row > .l-p95 {
    width: 95%;
  }
}

@media (min-width: 960px) {
  .row > .l-p100 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p5 {
    width: 5%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p10 {
    width: 10%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p15 {
    width: 15%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p20 {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p25 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p30 {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p35 {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p40 {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p45 {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p50 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p55 {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p60 {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p65 {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p70 {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p75 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p80 {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p85 {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p90 {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p95 {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-p100 {
    width: 100%;
  }
}

figure.alignleft, figure.alignright,
img.alignleft,
img.alignright,
.wp-caption.alignleft,
.wp-caption.alignright {
  padding-top: 0.375rem;
}

img.alignleft, img.alignright {
  padding-bottom: 1.5rem;
}

.alignleft,
.alignright {
  max-width: 50% !important;
}

blockquote.alignleft, blockquote.alignright {
  max-width: 40% !important;
}

.alignleft {
  float: left;
  margin-right: 1.25rem;
}

.alignright {
  float: right;
  margin-left: 1.25rem;
}

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto;
}

.tiled-gallery,
.video-player {
  margin-bottom: 1.5rem !important;
  max-width: 100%;
}

.gallery {
  margin-right: -7.5px;
  margin-left: -7.5px;
  display: flex;
  flex-wrap: wrap;
}

.gallery:before, .gallery:after {
  display: table;
  clear: both;
  width: 100%;
  content: '';
}

.gallery > * {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

html body .gallery > * {
  margin-bottom: 0;
  padding-bottom: 1.8rem;
}

html body .gallery:last-child {
  margin-bottom: -1.8rem !important;
}

.gallery + h1,
.gallery + h2,
.gallery + h3,
.gallery + h4,
.gallery + h5,
.gallery + h6 {
  margin-top: calc(1.875rem - 1.8rem);
}

.gallery-row {
  max-width: 100%;
}

.gallery-item {
  margin-bottom: 0;
  text-align: center;
}

.gallery-columns-1 > .gallery-item {
  width: 100%;
}

.gallery-columns-2 > .gallery-item {
  width: 50%;
}

.gallery-columns-3 > .gallery-item {
  width: 33.33333%;
}

.gallery-columns-4 > .gallery-item {
  width: 25%;
}

.gallery-columns-5 > .gallery-item {
  width: 20%;
}

.gallery-columns-6 > .gallery-item {
  width: 16.66667%;
}

.gallery-columns-7 > .gallery-item {
  width: 14.28571%;
}

.gallery-columns-8 > .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 > .gallery-item {
  width: 11.11111%;
}

.gallery-columns-10 > .gallery-item {
  width: 10%;
}

.gallery-columns-7 .wp-caption-text {
  display: none;
}

.gallery-columns-8 .wp-caption-text {
  display: none;
}

.gallery-columns-9 .wp-caption-text {
  display: none;
}

.gallery-columns-10 .wp-caption-text {
  display: none;
}

.post-password-form p:last-child {
  display: flex;
}

.post-password-form p:last-child input[type='password'] {
  border-right: none;
}

.post-password-form p:last-child input[type='submit'] {
  padding: 0 1.5rem;
}

.wp-caption {
  margin-bottom: 1.5rem;
}

[class^='embed-'] {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
}

[class^='embed-'] iframe,
[class^='embed-'] object,
[class^='embed-'] embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[class^='embed-']._1by1 {
  padding-bottom: 100%;
}

[class^='embed-']._4by3 {
  padding-bottom: 75%;
}

twitterwidget,
.mejs-container {
  margin-bottom: 1.5rem !important;
}

.mejs-container a {
  border-bottom: none !important;
  text-decoration: none !important;
}

/*# sourceMappingURL=sourcemaps/simpleton.css.map */
