html {
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
}

html > div,
html > span {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #323232;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  word-wrap: break-word;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table,
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 700;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol,
ul {
  margin-left: calc(1em + 4px);
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 1em;
}

dl dt {
  font-weight: 700;
}

dl dd {
  margin-left: 0;
}

hr {
  height: 1px;
  border: 0;
  background-color: #d9d9d9;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  color: #2e86de;
  text-decoration: none;
}

input[type='submit']:not(:disabled), input[type='button']:not(:disabled), input[type='reset']:not(:disabled) {
  cursor: pointer;
}

textarea {
  resize: none;
}

button {
  overflow: visible;
  cursor: pointer;
}

fieldset {
  border: 0;
}

iframe {
  display: block;
}

iframe,
figure {
  max-width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

img,
input,
textarea {
  vertical-align: top;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

big {
  font-size: 1.1em;
}

small {
  font-size: 0.9em;
}

ins {
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
  background-color: #2e86de;
  color: #ffffff;
  text-decoration: none;
}

mark {
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
  background-color: #feca57;
  color: #ffffff;
}

code {
  padding: 0.125rem 0.25rem 0.125rem 0.25rem;
  background-color: #f2f2f2;
}

var {
  font-style: normal;
}

pre {
  overflow: auto;
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  border-left: 0.25rem solid #2e86de;
  background-color: #f2f2f2;
  font-size: 0.9em;
  font-family: Consolas, "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
}

pre code {
  padding: 0;
  font-size: inherit;
}

blockquote {
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  border-left: 0.25rem solid #d9d9d9;
  font-size: 1.2em;
  line-height: 1.45;
}

code,
tt,
var,
kbd,
samp {
  font-size: 0.9em;
  font-family: Consolas, "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
}

cite {
  font-weight: 400;
  font-style: italic;
  font-size: 0.8em;
}

abbr,
acronym {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

del,
strike {
  text-decoration: line-through;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.4em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

::-webkit-search-cancel-button {
  display: none;
}

.text-dark {
  color: #323232;
}

.bg-dark {
  background-color: #323232;
}

.text-light {
  color: #ffffff;
}

.bg-light {
  background-color: #ffffff;
}

.text-gray {
  color: gray;
}

.bg-gray {
  background-color: gray;
}

.text-graylight {
  color: #bfbfbf;
}

.bg-graylight {
  background-color: #bfbfbf;
}

.text-graylighter {
  color: #d9d9d9;
}

.bg-graylighter {
  background-color: #d9d9d9;
}

.text-graylightest {
  color: #f2f2f2;
}

.bg-graylightest {
  background-color: #f2f2f2;
}

.text-graydark {
  color: #737373;
}

.bg-graydark {
  background-color: #737373;
}

.text-graydarker {
  color: #666666;
}

.bg-graydarker {
  background-color: #666666;
}

.text-graydarkest {
  color: #595959;
}

.bg-graydarkest {
  background-color: #595959;
}

.text-primary {
  color: #2e86de;
}

.bg-primary {
  background-color: #2e86de;
}

.text-secondary {
  color: #576574;
}

.bg-secondary {
  background-color: #576574;
}

.text-accent {
  color: #ee5253;
}

.bg-accent {
  background-color: #ee5253;
}

.text-idle {
  color: #d9d9d9;
}

.bg-idle {
  background-color: #d9d9d9;
}

.text-success {
  color: #10ac84;
}

.bg-success {
  background-color: #10ac84;
}

.text-alert {
  color: #ee5253;
}

.bg-alert {
  background-color: #ee5253;
}

.text-warning {
  color: #ff9f43;
}

.bg-warning {
  background-color: #ff9f43;
}

.text-highlight {
  color: #feca57;
}

.bg-highlight {
  background-color: #feca57;
}

.text-dribbble {
  color: #ea4c89;
}

.bg-dribbble {
  background-color: #ea4c89;
}

.text-facebook {
  color: #3b5998;
}

.bg-facebook {
  background-color: #3b5998;
}

.text-flickr {
  color: #ff0084;
}

.bg-flickr {
  background-color: #ff0084;
}

.text-instagram {
  color: #517fa4;
}

.bg-instagram {
  background-color: #517fa4;
}

.text-linkedin {
  color: #0077b5;
}

.bg-linkedin {
  background-color: #0077b5;
}

.text-medium {
  color: #00ab6b;
}

.bg-medium {
  background-color: #00ab6b;
}

.text-pinterest {
  color: #bd081c;
}

.bg-pinterest {
  background-color: #bd081c;
}

.text-rss {
  color: #f26522;
}

.bg-rss {
  background-color: #f26522;
}

.text-tumblr {
  color: #35465c;
}

.bg-tumblr {
  background-color: #35465c;
}

.text-twitter {
  color: #55acee;
}

.bg-twitter {
  background-color: #55acee;
}

.text-youtube {
  color: #b31217;
}

.bg-youtube {
  background-color: #b31217;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.6875rem;
}

caption {
  margin-bottom: 0.375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.6875rem;
  margin-bottom: 0.9375rem;
}

h1:first-child:not(.f-margins),
h2:first-child:not(.f-margins),
h3:first-child:not(.f-margins),
h4:first-child:not(.f-margins),
h5:first-child:not(.f-margins),
h6:first-child:not(.f-margins) {
  margin-top: 0 !important;
}

p,
ol,
ul,
address,
blockquote,
dl,
dt,
dd,
fieldset,
table,
pre,
form,
noscript,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin-bottom: 1.5rem;
}

.simp.container *:last-child:not(.f-margins) {
  margin-bottom: 0 !important;
}

p:empty {
  display: none;
}

h1 {
  font-size: 2em;
  line-height: 1.15;
}

h2 {
  font-size: 1.6em;
  line-height: 1.25;
}

h3 {
  font-size: 1.4em;
  line-height: 1.35;
}

h4 {
  font-size: 1.2em;
  line-height: 1.45;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

table.fixed {
  table-layout: fixed;
}

caption {
  padding-top: 0.5625rem;
  border-top: 1px solid #d9d9d9;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
}

tr,
th,
td {
  text-align: left;
}

tr {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  text-align: left;
}

thead,
tfoot,
th {
  font-weight: 700;
}

th,
td {
  padding: 0.75rem 1.125rem 0.75rem 0;
}

figcaption {
  padding-top: 0.5625rem;
  color: gray;
  text-align: center;
  font-size: 0.8em;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
}

.row.noalley {
  margin-right: 0px;
  margin-left: 0px;
}

.row.noalley > * {
  padding-right: 0px;
  padding-left: 0px;
}

.row.tightest {
  margin-right: -3.75px;
  margin-left: -3.75px;
}

.row.tightest > * {
  padding-right: 3.75px;
  padding-left: 3.75px;
}

.row.tighter {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.row.tighter > * {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.row.tight {
  margin-right: -11.25px;
  margin-left: -11.25px;
}

.row.tight > * {
  padding-right: 11.25px;
  padding-left: 11.25px;
}

.row.comfy {
  margin-right: -15px;
  margin-left: -15px;
}

.row.comfy > * {
  padding-right: 15px;
  padding-left: 15px;
}

.row.loose {
  margin-right: -18.75px;
  margin-left: -18.75px;
}

.row.loose > * {
  padding-right: 18.75px;
  padding-left: 18.75px;
}

.row.looser {
  margin-right: -22.5px;
  margin-left: -22.5px;
}

.row.looser > * {
  padding-right: 22.5px;
  padding-left: 22.5px;
}

.row.loosest {
  margin-right: -26.25px;
  margin-left: -26.25px;
}

.row.loosest > * {
  padding-right: 26.25px;
  padding-left: 26.25px;
}

@media (min-width: 480px) {
  .row.s-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.s-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  .row.m-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.m-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 960px) {
  .row.l-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.l-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 1200px) {
  .row.xl-noalley {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row.xl-noalley > * {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 480px) {
  .row.s-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.s-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 768px) {
  .row.m-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.m-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 960px) {
  .row.l-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.l-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 1200px) {
  .row.xl-tightest {
    margin-right: -3.75px;
    margin-left: -3.75px;
  }
  .row.xl-tightest > * {
    padding-right: 3.75px;
    padding-left: 3.75px;
  }
}

@media (min-width: 480px) {
  .row.s-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.s-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 768px) {
  .row.m-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.m-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 960px) {
  .row.l-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.l-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 1200px) {
  .row.xl-tighter {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .row.xl-tighter > * {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media (min-width: 480px) {
  .row.s-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.s-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 768px) {
  .row.m-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.m-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 960px) {
  .row.l-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.l-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 1200px) {
  .row.xl-tight {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
  .row.xl-tight > * {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}

@media (min-width: 480px) {
  .row.s-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.s-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .row.m-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.m-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 960px) {
  .row.l-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.l-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .row.xl-comfy {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row.xl-comfy > * {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 480px) {
  .row.s-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.s-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 768px) {
  .row.m-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.m-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 960px) {
  .row.l-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.l-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 1200px) {
  .row.xl-loose {
    margin-right: -18.75px;
    margin-left: -18.75px;
  }
  .row.xl-loose > * {
    padding-right: 18.75px;
    padding-left: 18.75px;
  }
}

@media (min-width: 480px) {
  .row.s-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.s-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 768px) {
  .row.m-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.m-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 960px) {
  .row.l-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.l-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 1200px) {
  .row.xl-looser {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
  .row.xl-looser > * {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 480px) {
  .row.s-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.s-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

@media (min-width: 768px) {
  .row.m-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.m-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

@media (min-width: 960px) {
  .row.l-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.l-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

@media (min-width: 1200px) {
  .row.xl-loosest {
    margin-right: -26.25px;
    margin-left: -26.25px;
  }
  .row.xl-loosest > * {
    padding-right: 26.25px;
    padding-left: 26.25px;
  }
}

.row > .col-5p {
  width: 5%;
}

.row > .col-10p {
  width: 10%;
}

.row > .col-15p {
  width: 15%;
}

.row > .col-20p {
  width: 20%;
}

.row > .col-25p {
  width: 25%;
}

.row > .col-30p {
  width: 30%;
}

.row > .col-35p {
  width: 35%;
}

.row > .col-40p {
  width: 40%;
}

.row > .col-45p {
  width: 45%;
}

.row > .col-50p {
  width: 50%;
}

.row > .col-55p {
  width: 55%;
}

.row > .col-60p {
  width: 60%;
}

.row > .col-65p {
  width: 65%;
}

.row > .col-70p {
  width: 70%;
}

.row > .col-75p {
  width: 75%;
}

.row > .col-80p {
  width: 80%;
}

.row > .col-85p {
  width: 85%;
}

.row > .col-90p {
  width: 90%;
}

.row > .col-95p {
  width: 95%;
}

.row > .col-100p {
  width: 100%;
}

.row > .col-1 {
  width: 8.33333%;
}

.row > .col-2 {
  width: 16.66667%;
}

.row > .col-3 {
  width: 25%;
}

.row > .col-4 {
  width: 33.33333%;
}

.row > .col-5 {
  width: 41.66667%;
}

.row > .col-6 {
  width: 50%;
}

.row > .col-7 {
  width: 58.33333%;
}

.row > .col-8 {
  width: 66.66667%;
}

.row > .col-9 {
  width: 75%;
}

.row > .col-10 {
  width: 83.33333%;
}

.row > .col-11 {
  width: 91.66667%;
}

.row > .col-12 {
  width: 100%;
}

@media (min-width: 480px) {
  .row > .s-5p {
    width: 5%;
  }
}

@media (min-width: 480px) {
  .row > .s-10p {
    width: 10%;
  }
}

@media (min-width: 480px) {
  .row > .s-15p {
    width: 15%;
  }
}

@media (min-width: 480px) {
  .row > .s-20p {
    width: 20%;
  }
}

@media (min-width: 480px) {
  .row > .s-25p {
    width: 25%;
  }
}

@media (min-width: 480px) {
  .row > .s-30p {
    width: 30%;
  }
}

@media (min-width: 480px) {
  .row > .s-35p {
    width: 35%;
  }
}

@media (min-width: 480px) {
  .row > .s-40p {
    width: 40%;
  }
}

@media (min-width: 480px) {
  .row > .s-45p {
    width: 45%;
  }
}

@media (min-width: 480px) {
  .row > .s-50p {
    width: 50%;
  }
}

@media (min-width: 480px) {
  .row > .s-55p {
    width: 55%;
  }
}

@media (min-width: 480px) {
  .row > .s-60p {
    width: 60%;
  }
}

@media (min-width: 480px) {
  .row > .s-65p {
    width: 65%;
  }
}

@media (min-width: 480px) {
  .row > .s-70p {
    width: 70%;
  }
}

@media (min-width: 480px) {
  .row > .s-75p {
    width: 75%;
  }
}

@media (min-width: 480px) {
  .row > .s-80p {
    width: 80%;
  }
}

@media (min-width: 480px) {
  .row > .s-85p {
    width: 85%;
  }
}

@media (min-width: 480px) {
  .row > .s-90p {
    width: 90%;
  }
}

@media (min-width: 480px) {
  .row > .s-95p {
    width: 95%;
  }
}

@media (min-width: 480px) {
  .row > .s-100p {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .row > .s-1 {
    width: 8.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-2 {
    width: 16.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-3 {
    width: 25%;
  }
}

@media (min-width: 480px) {
  .row > .s-4 {
    width: 33.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-5 {
    width: 41.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-6 {
    width: 50%;
  }
}

@media (min-width: 480px) {
  .row > .s-7 {
    width: 58.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-8 {
    width: 66.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-9 {
    width: 75%;
  }
}

@media (min-width: 480px) {
  .row > .s-10 {
    width: 83.33333%;
  }
}

@media (min-width: 480px) {
  .row > .s-11 {
    width: 91.66667%;
  }
}

@media (min-width: 480px) {
  .row > .s-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row > .m-5p {
    width: 5%;
  }
}

@media (min-width: 768px) {
  .row > .m-10p {
    width: 10%;
  }
}

@media (min-width: 768px) {
  .row > .m-15p {
    width: 15%;
  }
}

@media (min-width: 768px) {
  .row > .m-20p {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .row > .m-25p {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .row > .m-30p {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .row > .m-35p {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .row > .m-40p {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .row > .m-45p {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .row > .m-50p {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .row > .m-55p {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .row > .m-60p {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .row > .m-65p {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .row > .m-70p {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .row > .m-75p {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .row > .m-80p {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .row > .m-85p {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .row > .m-90p {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .row > .m-95p {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .row > .m-100p {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row > .m-1 {
    width: 8.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-2 {
    width: 16.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .row > .m-4 {
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-5 {
    width: 41.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .row > .m-7 {
    width: 58.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-8 {
    width: 66.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-9 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .row > .m-10 {
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .row > .m-11 {
    width: 91.66667%;
  }
}

@media (min-width: 768px) {
  .row > .m-12 {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .row > .l-5p {
    width: 5%;
  }
}

@media (min-width: 960px) {
  .row > .l-10p {
    width: 10%;
  }
}

@media (min-width: 960px) {
  .row > .l-15p {
    width: 15%;
  }
}

@media (min-width: 960px) {
  .row > .l-20p {
    width: 20%;
  }
}

@media (min-width: 960px) {
  .row > .l-25p {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .row > .l-30p {
    width: 30%;
  }
}

@media (min-width: 960px) {
  .row > .l-35p {
    width: 35%;
  }
}

@media (min-width: 960px) {
  .row > .l-40p {
    width: 40%;
  }
}

@media (min-width: 960px) {
  .row > .l-45p {
    width: 45%;
  }
}

@media (min-width: 960px) {
  .row > .l-50p {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .row > .l-55p {
    width: 55%;
  }
}

@media (min-width: 960px) {
  .row > .l-60p {
    width: 60%;
  }
}

@media (min-width: 960px) {
  .row > .l-65p {
    width: 65%;
  }
}

@media (min-width: 960px) {
  .row > .l-70p {
    width: 70%;
  }
}

@media (min-width: 960px) {
  .row > .l-75p {
    width: 75%;
  }
}

@media (min-width: 960px) {
  .row > .l-80p {
    width: 80%;
  }
}

@media (min-width: 960px) {
  .row > .l-85p {
    width: 85%;
  }
}

@media (min-width: 960px) {
  .row > .l-90p {
    width: 90%;
  }
}

@media (min-width: 960px) {
  .row > .l-95p {
    width: 95%;
  }
}

@media (min-width: 960px) {
  .row > .l-100p {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .row > .l-1 {
    width: 8.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-2 {
    width: 16.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-3 {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .row > .l-4 {
    width: 33.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-5 {
    width: 41.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-6 {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .row > .l-7 {
    width: 58.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-8 {
    width: 66.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-9 {
    width: 75%;
  }
}

@media (min-width: 960px) {
  .row > .l-10 {
    width: 83.33333%;
  }
}

@media (min-width: 960px) {
  .row > .l-11 {
    width: 91.66667%;
  }
}

@media (min-width: 960px) {
  .row > .l-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-5p {
    width: 5%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-10p {
    width: 10%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-15p {
    width: 15%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-20p {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-25p {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-30p {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-35p {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-40p {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-45p {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-50p {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-55p {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-60p {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-65p {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-70p {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-75p {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-80p {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-85p {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-90p {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-95p {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-100p {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .row > .xl-12 {
    width: 100%;
  }
}

.button {
  background-color: #323232;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0.2625rem;
  padding: 0.425em 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #252525;
}

.button.dark {
  background-color: #323232;
  color: #ffffff;
}

.button.dark:hover {
  background-color: #252525;
}

.button.light {
  background-color: #ffffff;
  color: #323232;
}

.button.light:hover {
  background-color: #f2f2f2;
}

.button.gray {
  background-color: gray;
  color: #ffffff;
}

.button.gray:hover {
  background-color: #737373;
}

.button.graylight {
  background-color: #bfbfbf;
  color: #ffffff;
}

.button.graylight:hover {
  background-color: #b3b3b3;
}

.button.graylighter {
  background-color: #d9d9d9;
  color: #323232;
}

.button.graylighter:hover {
  background-color: #cccccc;
}

.button.graylightest {
  background-color: #f2f2f2;
  color: #323232;
}

.button.graylightest:hover {
  background-color: #e6e6e6;
}

.button.graydark {
  background-color: #737373;
  color: #ffffff;
}

.button.graydark:hover {
  background-color: #666666;
}

.button.graydarker {
  background-color: #666666;
  color: #ffffff;
}

.button.graydarker:hover {
  background-color: #595959;
}

.button.graydarkest {
  background-color: #595959;
  color: #ffffff;
}

.button.graydarkest:hover {
  background-color: #4d4d4d;
}

.button.primary {
  background-color: #2e86de;
  color: #ffffff;
}

.button.primary:hover {
  background-color: #2179d1;
}

.button.secondary {
  background-color: #576574;
  color: #ffffff;
}

.button.secondary:hover {
  background-color: #4c5865;
}

.button.accent {
  background-color: #ee5253;
  color: #ffffff;
}

.button.accent:hover {
  background-color: #ec3b3c;
}

.button.idle {
  background-color: #d9d9d9;
  color: #323232;
}

.button.idle:hover {
  background-color: #cccccc;
}

.button.success {
  background-color: #10ac84;
  color: #ffffff;
}

.button.success:hover {
  background-color: #0e9572;
}

.button.alert {
  background-color: #ee5253;
  color: #ffffff;
}

.button.alert:hover {
  background-color: #ec3b3c;
}

.button.warning {
  background-color: #ff9f43;
  color: #ffffff;
}

.button.warning:hover {
  background-color: #ff922a;
}

.button.highlight {
  background-color: #feca57;
  color: #ffffff;
}

.button.highlight:hover {
  background-color: #fec23e;
}

.button.dribbble {
  background-color: #ea4c89;
  color: #ffffff;
}

.button.dribbble:hover {
  background-color: #e7357a;
}

.button.facebook {
  background-color: #3b5998;
  color: #ffffff;
}

.button.facebook:hover {
  background-color: #344e86;
}

.button.flickr {
  background-color: #ff0084;
  color: #ffffff;
}

.button.flickr:hover {
  background-color: #e60077;
}

.button.instagram {
  background-color: #517fa4;
  color: #ffffff;
}

.button.instagram:hover {
  background-color: #497293;
}

.button.linkedin {
  background-color: #0077b5;
  color: #ffffff;
}

.button.linkedin:hover {
  background-color: #00669c;
}

.button.medium {
  background-color: #00ab6b;
  color: #ffffff;
}

.button.medium:hover {
  background-color: #00925b;
}

.button.pinterest {
  background-color: #bd081c;
  color: #ffffff;
}

.button.pinterest:hover {
  background-color: #a50718;
}

.button.rss {
  background-color: #f26522;
  color: #ffffff;
}

.button.rss:hover {
  background-color: #ed560e;
}

.button.tumblr {
  background-color: #35465c;
  color: #ffffff;
}

.button.tumblr:hover {
  background-color: #2c3a4c;
}

.button.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.button.twitter:hover {
  background-color: #3ea1ec;
}

.button.youtube {
  background-color: #b31217;
  color: #ffffff;
}

.button.youtube:hover {
  background-color: #9c1014;
}

/*# sourceMappingURL=sourcemaps/simpleton.css.map */
