input,
textarea,
select,
button {
    color:inherit;
    font-size:inherit;
    font-family:inherit;
}

fieldset {
    border:$border-size solid $color-border;
    padding:$padding-box;

    ol,
    ul {
        list-style-type:none;
        margin-left:0;
    }

    > div {
        margin-bottom:$margin;
    }
}

input {
    &[type="text"],
    &[type="email"],
    &[type="tel"],
    &[type="url"],
    &[type="search"],
    &[type="number"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="password"] {
        @include ie9plus() {
            line-height:1;
        }

        border:$border-size solid $color-border;
        padding:$padding-input;
        width:100%;
    }
}

input[type=radio],
input[type=checkbox] {
    margin:0 ($gutter * .3) 0 0;
    vertical-align:-1px;
}

textarea {
    border:$border-size solid $color-border;
    padding:$padding-input;
    width:100%;
}

select {
    border:$border-size solid $color-border;
    background-color:transparent;
    width:100%;
    padding-top:$p-input-t;
    padding-bottom:$p-input-b;
    padding-left:$p-input-l * .625;
    padding-right:$p-input-r;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.button {
    @include button-colors($color-dark);

    border:none;
    color:#ffffff;
    display:inline-block;
    margin-bottom:$margin * .25;
    padding:$padding-button;
    text-align:center;
    vertical-align:middle;
    white-space:normal;

    &.primary {
        @include button-colors($color-primary);
    }

    &.secondary {
        @include button-colors($color-secondary);
    }

    &.idle,
    &[disabled] {
        @include button-colors($color-idle);
    }

    &.success {
        @include button-colors($color-success);
    }

    &.alert {
        @include button-colors($color-alert);
    }

    &.warning {
        @include button-colors($color-warning);
    }

    &.highlight {
        @include button-colors($color-highlight);
    }
}
