@include vertical-margins();

p {
    &:empty {
        display:none;
    }
}

h1 {
    font-size:$font-size-h1;
    line-height:$line-height-h1;
}

h2 {
    font-size:$font-size-h2;
    line-height:$line-height-h2;
}

h3 {
    font-size:$font-size-h3;
    line-height:$line-height-h3;
}

h4 {
    font-size:$font-size-h4;
    line-height:$line-height-h4;
}

table {
    width:100%;
    border:none;
    border-spacing:0;
    border-collapse:collapse;
    text-align:left;

    &.fixed {
        table-layout:fixed;
    }
}

caption {
    padding-top:$padding * 0.375;
    border-top:$border-size solid $color-border;
    text-align:left;
    text-transform:uppercase;
    font-weight:$font-weight-bold;
    font-size:$font-size-xsmall;
}

tr,
th,
td {
    text-align:left;
}

tr {
    border-top:$border-size solid $color-border;
    border-bottom:$border-size solid $color-border;
    text-align:left;
}

thead,
tfoot,
th {
    font-weight:$font-weight-bold;
}

th,
td {
    padding:$p-table-t $p-table-r $p-table-b $p-table-l;
}

figcaption {
    padding-top:$padding * 0.4375;
    color:$color-gray;
    text-align:center;
    font-size:$font-size-xsmall;
}

blockquote {
    padding-left:1em;
    border-left:0.25em solid $color-quote;
    font-size:$font-size-h4;
    line-height:$line-height-h4;
}

ol,
ul {
    margin-left:1.25em;
}
