@mixin button-colors($bg-color) {
    background-color:$bg-color;
    color:if(lightness($bg-color) > 84%, $color-dark, $color-light);

    &:hover {
        background-color:darken($bg-color, 5%);
    }
}

@mixin button-styles() {
    @include button-colors($color-dark);

    display:inline-block;
    margin-bottom:$margin * 0.175;
    padding:0.425em 1em;
    border:none;
    border-radius:0.25em;
    cursor:pointer;
    transition:background-color 0.2s;

    @each $color-key, $color-value in $colors {
        &.#{$color-key} {
            @include button-colors($color-value);
        }
    }
}

.button {
    @include button-styles();
}
