@mixin button-colors($bg-color, $content-color:#ffffff) {
    background-color:$bg-color;
    color:$content-color;

    &:hover {
        background-color:darken($bg-color, 5%);
        color:$content-color;
    }
}

@mixin button-styles() {
    @include button-colors($color-dark);

    display:inline-block;
    margin-bottom:$margin * 0.15;
    padding:0.425em 1em;
    border:none;
    border-radius:0.25em;
    cursor:pointer;
    transition:background-color 0.2s;

    &.dark {
        @include button-colors($color-dark);
    }

    &.primary {
        @include button-colors($color-primary);
    }

    &.secondary {
        @include button-colors($color-secondary);
    }

    &.idle,
    &[disabled] {
        @include button-colors($color-idle, $color-dark);
    }

    &.success {
        @include button-colors($color-success);
    }

    &.alert {
        @include button-colors($color-alert);
    }

    &.warning {
        @include button-colors($color-warning);
    }

    &.highlight {
        @include button-colors($color-highlight);
    }
}

.simp.button {
    @include button-styles();
}
