@mixin button-colors($bg-color) {
    background-color:$bg-color;
    color:autoTextColor($bg-color, 84);

    &:hover {
        background-color:darken($bg-color, 5%);
    }
}

@mixin button-styles() {
    @include button-colors($color-dark);

    display:inline-block;
    margin-bottom:$margin * 0.2;
    padding:0.425em 1em;
    min-height:2.5rem;
    border:none;
    border-radius:0.125em;
    cursor:pointer;
    transition:background-color 0.2s;

    @each $color-key, $color-value in $colors {
        &.#{$color-key} {
            @include button-colors($color-value);
        }
    }
}

.button {
    @include button-styles();

    &.sq {
        border-radius:0;
    }
}


input {
    &[type='text'],
    &[type='email'],
    &[type='tel'],
    &[type='url'],
    &[type='search'],
    &[type='number'],
    &[type='date'],
    &[type='month'],
    &[type='week'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='password'] {
        @include ie9plus() {
            line-height:1;
        }

        min-height:2.5rem;
        width:100%;;
        border:none;
        box-shadow:0 0 0 1px $color-border inset;
    }
}
