@import 'partials/vars';
//@import "partials/functions";
//@import "partials/helpers";
//@import "partials/resets";
//@import "partials/general";
//@import "partials/classes";
//@import "partials/grids";
//@import "partials/forms";
//@import "partials/wordpress";

.container {
    margin:0 auto;
    padding:($padding * 1.5) $alley ($padding * 2);
    max-width:960px;
    width:100%;
}

.colorbox {
    width:40px;
    height:40px;
    border:1px solid $color-graylighter;
    border-radius:50%;
    box-shadow:0 0 0 4px #ffffff inset;
}

.simp.grid.docs {
    .inner {
        padding:$padding * 0.5;
    }
}
