---
pagetitle: You 404d
layout: 404.hbs
permalink: false
---

<div class="bg-primary _404">
    <div class="inner text-background">
        <h1>404</h1>
        <p>There is no place like <a class="text-background" href="/">home</a></p>
    </div>
</div>
