---
pagetitle: Buttons
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card">
    <header><h2>Buttons</h2></header>
    <div class="markup">
        <button class="simp button">Default</button>
        <a class="simp button primary">Primary</a>
        <input type="button" class="simp button secondary" value="Secondary">
        <button class="simp button idle">Idles</button>
        <button class="simp button success">Success</button>
        <button class="simp button alert">Alert</button>
        <button class="simp button warning">Warning</button>
        <button class="simp button highlight">Highlight</button>
    </div>
</section>
