---
pagetitle: Colors
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card mgb-300">
    <h2>Colors</h2>
    <div class="output mgb-175">
        <div class="row tighter mgb-125 mgbch-75">
            {{#each sassVars.colors}}
                <div class="col">
                    <div class="simp bg-{{@key}} colorbox" title="{{@key}}"></div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
