---
pagetitle: Colors
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card">
    <header><h2>Theme</h2></header>
    <div class="markup">
        <div class="simp grid tighter">
            {{#each sassVars.colors}}
                <div>
                    <div class="simp bg-{{@key}} colorbox" title="{{@key}}"></div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
