---
pagetitle: Colors
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card mg-300">
    <h2>Theme</h2>
    <div class="markup">
        <div class="row tighter mgch-100">
            {{#each sassVars.colors}}
                <div class="col">
                    <div class="simp bg-{{@key}} colorbox" title="{{@key}}"></div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
