---
pagetitle: Grids
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card">
    <header><h2>Basic Grid</h2></header>
    <div class="markup">
        <div class="simp grid docs">
            <div class="simp xs-12 s-6 m-4 xl-3">
                <div class="simp text-gray bg-graylightest inner">d-12.s-6.m-4.xl-3</div>
            </div>
            <div class="simp xs-12 s-6 m-4 xl-3">
                <div class="simp text-gray bg-graylightest inner">d-12.s-6.m-4.xl-3</div>
            </div>
            <div class="simp xs-12 s-6 m-4 xl-3">
                <div class="simp text-gray bg-graylightest inner">d-12.s-6.m-4.xl-3</div>
            </div>
            <div class="simp xs-12 s-6 m-4 xl-3">
                <div class="simp text-gray bg-graylightest inner">d-12.s-6.m-4.xl-3</div>
            </div>
        </div>
    </div>
</section>