---
pagetitle: Grids
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card">
    <header><h2>Basic Grid</h2></header>
    <div class="markup">
        <div class="row">
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 m-2">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-5">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-5">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
        </div>
    </div>
    <header><h2>Percentages</h2></header>
    <div class="markup">
        <div class="row noalley docs">
            <div class="col-5p">
                <div class="simp text-gray bg-graylightest decoy">.</div>
            </div>
        </div>
        <div class="row noalley docs">
            <div class="col-10p">
                <div class="simp text-gray bg-graylightest decoy">.</div>
            </div>
        </div>
        <div class="row noalley docs">
            <div class="col-15p">
                <div class="simp text-gray bg-graylightest decoy">.</div>
            </div>
        </div>
        <div class="row noalley docs">
            <div class="col-20p">
                <div class="simp text-gray bg-graylightest decoy">.</div>
            </div>
        </div>
        <div class="row noalley docs">
            <div class="col-25p">
                <div class="simp text-gray bg-graylightest decoy">.</div>
            </div>
        </div>
        <div class="row noalley docs">
            <div class="col-30p">
                <div class="simp text-gray bg-graylightest decoy">.</div>
            </div>
        </div>
        <div class="row noalley docs">
            <div class="col-35p">
                <div class="simp text-gray bg-graylightest decoy">.</div>
            </div>
        </div>
    </div>
</section>
