---
pagetitle: Grids
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card mg-200">
    <header><h2>Basic Grid</h2></header>
    <div class="markup">
        <div class="row mg-150 mgch-100">
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
        </div>
        <div class="row mg-150 mgch-100">
            <div class="col-12 m-5">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-2">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-5">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-6">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
        </div>
    </div>
</section>
