---
pagetitle: Grids
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card mgb-300">
    <h2>Basic Grid</h2>
    <div class="output mgb-175">
        <div class="row mgb-125 mgbch-75">
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 s-6 m-3">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
        </div>
        <div class="row mgb-125 mgbch-75">
            <div class="col-12 m-2">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-6">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-4">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-4">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-6">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
            <div class="col-12 m-2">
                <div class="simp text-gray bg-graylightest decoy"></div>
            </div>
        </div>
    </div>
</section>
