---
pagetitle: Markup
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="simp card mgb-300">
    <h2>Headings</h2>
    <div class="output mgb-175">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>```</code></pre>
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Paragraphs</h2>
    <div class="output mgb-175">
        <p>You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better? I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
        <p>It's a fez. I wear a fez now. Fezes are cool. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister. You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?</p>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<p>You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better? I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
<p>It's a fez. I wear a fez now. Fezes are cool. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister. You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?</p>```</code></pre>
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Blockquotes</h2>
    <div class="output mgb-175">
        <blockquote>
            <p>I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.</p>
        </blockquote>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<blockquote>
    <p>I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.</p>
</blockquote>```</code></pre>
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Tables</h2>
    <div class="output mgb-175">
        <table>
            <tbody>
            <tr>
                <th>Level</th>
                <th>Name</th>
                <th>Points</th>
                <th>Username</th>
            </tr>
            <tr>
                <td>28</td>
                <td>Amy Santiago</td>
                <td>473678</td>
                <td><a href="#">@smartcookie</a></td>
            </tr>
            <tr>
                <td>26</td>
                <td>Jacob Peralta</td>
                <td>342865</td>
                <td><a href="#">@sillywabbit</a></td>
            </tr>
            <tr>
                <td>23</td>
                <td>Terrence Jeffords</td>
                <td>327636</td>
                <td><a href="#">@papabearofficial</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<table>
    <tbody>
    <tr>
        <th>Level</th>
        <th>Name</th>
        <th>Points</th>
        <th>Username</th>
    </tr>
    <tr>
        <td>28</td>
        <td>Amy Santiago</td>
        <td>473678</td>
        <td><a href="#">@smartcookie</a></td>
    </tr>
    <tr>
        <td>26</td>
        <td>Jacob Peralta</td>
        <td>342865</td>
        <td><a href="#">@sillywabbit</a></td>
    </tr>
    <tr>
        <td>23</td>
        <td>Terrence Jeffords</td>
        <td>327636</td>
        <td><a href="#">@papabearofficial</a></td>
    </tr>
    </tbody>
</table>```</code></pre>
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Definition Lists</h2>
    <div class="output mgb-175">
        <dl>
            <dt>Sanguine</dt>
            <dd>Cheerfully optimistic, hopeful, or confident: a sanguine disposition.</dd>
            <dt>Omphaloskepsis</dt>
            <dd>Contemplation of one's navel as part of a mystical exercise; navel-gazing.</dd>
        </dl>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<dl>
    <dt>Sanguine</dt>
    <dd>Cheerfully optimistic, hopeful, or confident: a sanguine disposition.</dd>
    <dt>Omphaloskepsis</dt>
    <dd>Contemplation of one's navel as part of a mystical exercise; navel-gazing.</dd>
</dl>```</code></pre>
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Unordered Lists</h2>
    <div class="output mgb-175">
        <ul>
            <li>The Twilight Zone</li>
            <li>Brooklyn Nine-Nine</li>
            <li>Parks and Recreation</li>
            <li>The Orville</li>
            <li>Supernatural</li>
            <li>The Big Bang Theory</li>
        </ul>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<ul>
    <li>The Twilight Zone</li>
    <li>Brooklyn Nine-Nine</li>
    <li>Parks and Recreation</li>
    <li>The Orville</li>
    <li>Supernatural</li>
    <li>The Big Bang Theory</li>
</ul>```</code></pre>
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Ordered Lists</h2>
    <div class="output mgb-175">
        <ol>
            <li>The Twilight Zone</li>
            <li>Brooklyn Nine-Nine</li>
            <li>Parks and Recreation</li>
            <li>The Orville</li>
            <li>Supernatural</li>
            <li>The Big Bang Theory</li>
        </ol>
    </div>
    <div class="markup">
        <pre><code class="lang-html">```<ol>
    <li>The Twilight Zone</li>
    <li>Brooklyn Nine-Nine</li>
    <li>Parks and Recreation</li>
    <li>The Orville</li>
    <li>Supernatural</li>
    <li>The Big Bang Theory</li>
</ol>```</code></pre>
    </div>
</section>

<section class="simp card mgb-300">
    <h2>Etcetera, Etcetera</h2>
    <p>Other commonly used HTML tags.</p>
    <div class="output mgb-175">
        <p><strong>Abbreviation</strong> <code>```<```abbr```>```</code></p>
        <p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for “seriously”.</p>
        <p><strong>Acronym</strong> <code>```<```acronym```>```</code></p>
        <p>The acronym <acronym title="For The Win">ftw</acronym> stands for “for the win”.</p>
        <p><strong>Address</strong> <code>```<```address```>```</code></p>
        <address>123 Sesame St.<br>Las Vegas, Nevada<br>United States 89104</address>
        <p><strong>Anchor (aka. Link)</strong> <code>```<```a```>```</code></p>
        <p>Here is an example of a <a href="https://github.com">link</a>.</p>
        <p><strong>Big</strong> <code>```<```big```>```</code></p>
        <p>Makes text <big>bigger</big>. Duh!</p>
        <p><strong>Cite</strong> <code>```<```cite```>```</code></p>
        <p>“Giggity, giggity, goo.” <cite>–Glenn Quagmire</cite></p>
        <p><strong>Code</strong> <code>```<```code```>```</code></p>
        <p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p>
        <p><strong>Delete</strong> <code>```<```del```>```</code></p>
        <p>This tag will
            <del>strikeout text</del>
           .
        </p>
        <p><strong>Emphasize</strong> <code>```<```em```>```</code></p>
        <p>The emphasize tag should <em>italicize</em> text.</p>
        <p><strong>Insert</strong> <code>```<```ins```>```</code></p>
        <p>This tag should denote
            <ins>inserted</ins>
           text.
        </p>
        <p><strong>Keyboard</strong> <code>```<```kbd```>```</code></p>
        <p>This scarsly known tag emulates <kbd>keyboard text</kbd>, which is usually styled like the
            <code>&lt;code&gt;</code> tag.</p>
        <p><strong>Preformatted</strong> <code>```<```pre```>```</code></p>
        <p>This tag styles large blocks of code.</p>
        <pre><code>```.post-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
}```</code></pre>
        <p><strong>Quote</strong> <code>```<```q```>```</code></p>
        <p><q>Developers, developers, developers…</q> <cite>–Steve Ballmer</cite></p>
        <p><strong>Strong</strong> <code>```<```strong```>```</code></p>
        <p>This tag shows <strong>bold<strong> text.</strong></strong></p>
        <p><strong>Subscript</strong> <code>```<```sub```>```</code></p>
        <p>Getting our science styling on with H<sub>2</sub>O, which should push the “2” down.</p>
        <p><strong>Superscript</strong> <code>```<```sup```>```</code></p>
        <p>Still sticking with science and Albert Einstein’s&nbsp;E = MC<sup>2</sup>, which should lift the “2” up.</p>
        <p><strong>Teletype</strong> <code>```<```tt```>```</code></p>
        <p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the
            <code>&lt;code&gt;</code> tag.</p>
        <p><strong>Variable</strong> <code>```<```var```>```</code></p>
        <p>This allows you to denote <var>variables</var>.</p>
    </div>
</section>
