---
pagetitle: Typography
layout: layout.hbs
---

<h1>{{pagetitle}}</h1>

<section class="card mgb-300">
    <h2>XXSmall</h2>
    <div class="output mgb-175">
        <p class="xxsmall">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>XSmall</h2>
    <div class="output mgb-175">
        <p class="xsmall">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>Small</h2>
    <div class="output mgb-175">
        <p class="small">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>Base</h2>
    <div class="output mgb-175">
        <p>Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>Big</h2>
    <div class="output mgb-175">
        <p class="big">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>XBig</h2>
    <div class="output mgb-175">
        <p class="xbig">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>XXBig</h2>
    <div class="output mgb-175">
        <p class="xxbig">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>H5</h2>
    <div class="output mgb-175">
        <p class="fs-h5 lh-h5 fw-h">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>H4</h2>
    <div class="output mgb-175">
        <p class="fs-h4 lh-h4 fw-h">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>H3</h2>
    <div class="output mgb-175">
        <p class="fs-h3 lh-h3 fw-h">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>H2</h2>
    <div class="output mgb-175">
        <p class="fs-h2 lh-h2 fw-h">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
    <h2>H1</h2>
    <div class="output mgb-175">
        <p class="fs-h1 lh-h1 fw-h">Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
    </div>
</section>
